Python Pandas Analysis

Libraries

In [3]:
import pandas as pd 
import numpy as np
from matplotlib import pyplo

ModuleNotFoundError: No module named 'matplotlib'

Loading the data

In [5]:
batting = pd.read_csv("../DATA/batting.csv")
batting_2 = pd.read_csv("../DATA/batting.csv")
fielding = pd.read_csv("../DATA/fielding.csv")
hall_of_fame = pd.read_csv("../DATA/hall_of_fame.csv")
player_award = pd.read_csv("../DATA/player_award.csv")
player = pd.read_csv("../DATA/player.csv")
salary = pd.read_csv("../DATA/salary.csv")
team = pd.read_csv("../DATA/team.csv")

In [6]:
table_files = [batting, batting_2, fielding, hall_of_fame, player_award, player, salary, team]
for file in table_files:
    print(file.head(5))

   player_id  year  stint team_id league_id   g     ab     r     h  double  \
0  abercda01  1871      1     TRO       NaN   1    4.0   0.0   0.0     0.0
1   addybo01  1871      1     RC1       NaN  25  118.0  30.0  32.0     6.0
2  allisar01  1871      1     CL1       NaN  29  137.0  28.0  40.0     4.0
3  allisdo01  1871      1     WS3       NaN  27  133.0  28.0  44.0    10.0
4  ansonca01  1871      1     RC1       NaN  25  120.0  29.0  39.0    11.0

   ...   rbi   sb   cs   bb   so  ibb  hbp  sh  sf  g_idp
0  ...   0.0  0.0  0.0  0.0  0.0  NaN  NaN NaN NaN    NaN
1  ...  13.0  8.0  1.0  4.0  0.0  NaN  NaN NaN NaN    NaN
2  ...  19.0  3.0  1.0  2.0  5.0  NaN  NaN NaN NaN    NaN
3  ...  27.0  1.0  1.0  0.0  2.0  NaN  NaN NaN NaN    NaN
4  ...  16.0  6.0  2.0  2.0  1.0  NaN  NaN NaN NaN    NaN

[5 rows x 22 columns]
   player_id  year  stint team_id league_id   g     ab     r     h  double  \
0  abercda01  1871      1     TRO       NaN   1    4.0   0.0   0.0     0.0
1   addybo01  1871      1     RC1       NaN  25  118.0  30.0  32.0     6.0
2  allisar01  1871      1     CL1       NaN  29  137.0  28.0  40.0     4.0
3  allisdo01  1871      1     WS3       NaN  27  133.0  28.0  44.0    10.0
4  ansonca01  1871      1     RC1       NaN  25  120.0  29.0  39.0    11.0

   ...   rbi   sb   cs   bb   so  ibb  hbp  sh  sf  g_idp
0  ...   0.0  0.0  0.0  0.0  0.0  NaN  NaN NaN NaN    NaN
1  ...  13.0  8.0  1.0  4.0  0.0  NaN  NaN NaN NaN    NaN
2  ...  19.0  3.0  1.0  2.0  5.0  NaN  NaN NaN NaN    NaN
3  ...  27.0  1.0  1.0  0.0  2.0  NaN  NaN NaN NaN    NaN
4  ...  16.0  6.0  2.0  2.0  1.0  NaN  NaN NaN NaN    NaN

[5 rows x 22 columns]
   player_id  year  stint team_id league_id pos   g  gs  inn_outs    po     a  \
0  abercda01  1871      1     TRO       NaN  SS   1 NaN       NaN   1.0   3.0
1   addybo01  1871      1     RC1       NaN  2B  22 NaN       NaN  67.0  72.0
2   addybo01  1871      1     RC1       NaN  SS   3 NaN       NaN   8.0  14.0
3  allisar01  1871      1     CL1       NaN  2B   2 NaN       NaN   1.0   4.0
4  allisar01  1871      1     CL1       NaN  OF  29 NaN       NaN  51.0   3.0

      e   dp  pb  wp  sb  cs  zr
0   2.0  0.0 NaN NaN NaN NaN NaN
1  42.0  5.0 NaN NaN NaN NaN NaN
2   7.0  0.0 NaN NaN NaN NaN NaN
3   0.0  0.0 NaN NaN NaN NaN NaN
4   7.0  1.0 NaN NaN NaN NaN NaN
   player_id  yearid votedby  ballots  needed  votes inducted category  \
0   cobbty01    1936   BBWAA    226.0   170.0  222.0        Y   Player
1   ruthba01    1936   BBWAA    226.0   170.0  215.0        Y   Player
2  wagneho01    1936   BBWAA    226.0   170.0  215.0        Y   Player
3  mathech01    1936   BBWAA    226.0   170.0  205.0        Y   Player
4  johnswa01    1936   BBWAA    226.0   170.0  189.0        Y   Player

  needed_note
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
   player_id               award_id  year league_id  tie notes
0   bondto01  Pitching Triple Crown  1877        NL  NaN   NaN
1  hinespa01           Triple Crown  1878        NL  NaN   NaN
2  heckegu01  Pitching Triple Crown  1884        AA  NaN   NaN
3  radboch01  Pitching Triple Crown  1884        NL  NaN   NaN
4  oneilti01           Triple Crown  1887        AA  NaN   NaN
   player_id  birth_year  birth_month  birth_day birth_country birth_state  \
0  aardsda01      1981.0         12.0       27.0           USA          CO
1  aaronha01      1934.0          2.0        5.0           USA          AL
2  aaronto01      1939.0          8.0        5.0           USA          AL
3   aasedo01      1954.0          9.0        8.0           USA          CA
4   abadan01      1972.0          8.0       25.0           USA          FL

   birth_city  death_year  death_month  death_day  ... name_last  \
0      Denver         NaN          NaN        NaN  ...   Aardsma
1      Mobile         NaN          NaN        NaN  ...     Aaron
2      Mobile      1984.0          8.0       16.0  ...     Aaron
3      Orange         NaN          NaN        NaN  ...      Aase
4  Palm Beach         NaN          NaN        NaN  ...      Abad

       name_given weight height bats throws       debut  final_game  retro_id  \
0     David Allan  220.0   75.0    R      R  2004-04-06  2015-08-23  aardd001
1     Henry Louis  180.0   72.0    R      R  1954-04-13  1976-10-03  aaroh101
2      Tommie Lee  190.0   75.0    R      R  1962-04-10  1971-09-26  aarot101
3  Donald William  190.0   75.0    R      R  1977-07-26  1990-10-03  aased001
4   Fausto Andres  184.0   73.0    L      L  2001-09-10  2006-04-13  abada001

    bbref_id
0  aardsda01
1  aaronha01
2  aaronto01
3   aasedo01
4   abadan01

[5 rows x 24 columns]
   year team_id league_id  player_id  salary
0  1985     ATL        NL  barkele01  870000
1  1985     ATL        NL  bedrost01  550000
2  1985     ATL        NL  benedbr01  545000
3  1985     ATL        NL   campri01  633333
4  1985     ATL        NL  ceronri01  625000
   year league_id team_id franchise_id div_id  rank   g  ghome   w   l  ...  \
0  1871       NaN     BS1          BNA    NaN     3  31    NaN  20  10  ...
1  1871       NaN     CH1          CNA    NaN     2  28    NaN  19   9  ...
2  1871       NaN     CL1          CFC    NaN     8  29    NaN  10  19  ...
3  1871       NaN     FW1          KEK    NaN     7  19    NaN   7  12  ...
4  1871       NaN     NY2          NNA    NaN     5  33    NaN  16  17  ...

   dp    fp                     name                          park  \
0 NaN  0.83     Boston Red Stockings           South End Grounds I
1 NaN  0.82  Chicago White Stockings       Union Base-Ball Grounds
2 NaN  0.81   Cleveland Forest Citys  National Association Grounds
3 NaN  0.80     Fort Wayne Kekiongas                Hamilton Field
4 NaN  0.83         New York Mutuals      Union Grounds (Brooklyn)

   attendance  bpf  ppf  team_id_br  team_id_lahman45  team_id_retro
0         NaN  103   98         BOS               BS1            BS1
1         NaN  104  102         CHI               CH1            CH1
2         NaN   96  100         CLE               CL1            CL1
3         NaN  101  107         KEK               FW1            FW1
4         NaN   90   88         NYU               NY2            NY2

[5 rows x 48 columns]

--1. The best hitters in history by home runs

       player_id     hr
1476   bondsba01  762.0
1      aaronha01  755.0
14330   ruthba01  714.0
14003  rodrial01  687.0
10464   mayswi01  660.0
6377   griffke02  630.0
16396  thomeji01  612.0
15526   sosasa01  609.0
13962  robinfr02  586.0
10745  mcgwima01  583.0
8673   killeha01  573.0
12510  palmera01  569.0
7942   jacksre01  563.0
13289  pujolal01  560.0
13434  ramirma02  555.0
14693  schmimi01  548.0
10130  mantlmi01  536.0
5377    foxxji01  534.0
10590  mccovwi01  521.0
17709  willite01  521.0
16373  thomafr04  521.0
10354  matheed01  512.0
679    bankser01  512.0
12419    ottme01  511.0
15007  sheffga01  509.0

--2.  Most homeruns by Boston Red Sox players ever

In [7]:
merged_df = pd.merge(batting_2, player, on = 'player_id')
filtered_df = merged_df[merged_df['team_id']=='BOS'].groupby(['player_id', 'name_first', 'name_last']).hr.sum().reset_index()
filtered_df['full_name'] = filtered_df['name_first'] + ' ' + filtered_df['name_last']
filtered_df = filtered_df[['player_id', 'full_name', 'hr']]
result_df = filtered_df.sort_values(by='hr', ascending=False).head(10)
result_df

      player_id         full_name     hr
1689  willite01      Ted Williams  521.0
1732  yastrca01  Carl Yastrzemski  452.0
1152  ortizda01       David Ortiz  445.0
1292   riceji01          Jim Rice  382.0
441   evansdw01      Dwight Evans  379.0
1263  ramirma02     Manny Ramirez  274.0
1609  vaughmo01         Mo Vaughn  230.0
394   doerrbo01       Bobby Doerr  223.0
487    foxxji01       Jimmie Foxx  222.0
1209  petrori01   Rico Petrocelli  210.0

--3. Ranking players by homeruns, in case of players having the same number of home runs the rank will take number of hits into consideration

--4.Best homeruns per at bat averages from the New York Yankees players since 2000´s

     player_id name_first   name_last     ab    hr  Homeruns_per_ab
275  mcgwima01       Mark     McGwire  236.0  32.0            0.136
44   bondsba01      Barry       Bonds  480.0  49.0            0.102
191   hillgl01  Glenallen        Hill  300.0  27.0            0.090
333  ramirma02      Manny     Ramirez  439.0  38.0            0.087
362  sheffga01       Gary   Sheffield  501.0  43.0            0.086
142  giambja01      Jason      Giambi  510.0  43.0            0.084
370   sosasa01      Sammy        Sosa  604.0  50.0            0.083
148  glaustr01       Troy       Glaus  563.0  47.0            0.083
51   branyru01    Russell     Branyan  193.0  16.0            0.083
197  hundlto01       Todd     Hundley  299.0  24.0            0.080
116  edmonji01        Jim     Edmonds  525.0  42.0            0.080
18   bagweje01       Jeff     Bagwell  590.0  47.0            0.080
189  hidalri01    Richard     Hidalgo  558.0  44.0            0.079
323  piazzmi01       Mike      Piazza  482.0  38.0            0.079
221  justida01      David     Justice  524.0  41.0            0.078
163  griffke02        Ken     Griffey  520.0  40.0            0.077
166  guerrvl01   Vladimir    Guerrero  571.0  44.0            0.077
409   wardda01     Daryle        Ward  264.0  20.0            0.076
211  johnsch04    Charles     Johnson  421.0  31.0            0.074
347  rodriiv01       Ivan   Rodriguez  363.0  27.0            0.074
345  rodrial01       Alex   Rodriguez  554.0  41.0            0.074
387  thomafr04      Frank      Thomas  582.0  43.0            0.074
13   andresh01      Shane     Andrews  192.0  14.0            0.073
183  heltoto01       Todd      Helton  580.0  42.0            0.072
66   caminke01        Ken    Caminiti  208.0  15.0            0.072
104  delgaca01     Carlos     Delgado  569.0  41.0            0.072
57   buhneja01        Jay      Buhner  364.0  26.0            0.071
315  palmera01     Rafael    Palmeiro  565.0  39.0            0.069
122  evereca01       Carl     Everett  496.0  34.0            0.069
234  lampkto01        Tom     Lampkin  103.0   7.0            0.068
262  martied01      Edgar    Martinez  556.0  37.0            0.067
235  lankfra01        Ray    Lankford  392.0  26.0            0.066
23   batisto01       Tony     Batista  620.0  41.0            0.066
9     aloumo01     Moises        Alou  454.0  30.0            0.066
137  fullmbr01       Brad     Fullmer  482.0  32.0            0.066
207  jenkige01      Geoff     Jenkins  512.0  34.0            0.066
178  hanseda01       Dave      Hansen  121.0   8.0            0.066
388  thomeji01        Jim       Thome  557.0  37.0            0.066
341  richach01      Chris     Richard  199.0  13.0            0.065
127  finlest01      Steve      Finley  539.0  35.0            0.065
117  elsteke01      Kevin      Elster  220.0  14.0            0.064
145  gilesbr02      Brian       Giles  559.0  35.0            0.063
194  houstty01      Tyler     Houston  284.0  18.0            0.063
358  seguife01   Fernando   Seguignol  162.0  10.0            0.062
287  mondera01       Raul     Mondesi  388.0  24.0            0.062
81   clarkto02       Tony       Clark  208.0  13.0            0.062
215  jonesch06    Chipper       Jones  579.0  36.0            0.062
394  vandejo02       John  Vander Wal  384.0  24.0            0.062
58   burksel01      Ellis       Burks  393.0  24.0            0.061
396  vaughgr01       Greg      Vaughn  461.0  28.0            0.061

--5.New York Yankees players batting average and determing which ones are above the league ´ s average

--6.Teams with the highest avg attendance per game in 21st century

--7. Top Pitchers of all time based on the highest number of Pitching Triple Crown player award

--8.Teams with the highest salary disparity

--9. Top 10 players with the highest number of hits who are also members of the Hall of Fame

--10. Best paid players and their fielding position

--11.Average salary per fielding position since 2000`s

--12.Pitchers that earn more than the average salary in the mlb for the year 2015

--13.Average strikeouts per game by decade

--14.Average homeruns per game by decade

--15.Most wins in a season without winning the World Series.

--16. Minimum wins in a season and winning the World Series since 21st century.

--17 Average salaries per decade evolution for MLB players

--18.Average salaries by team and which of them have the best and worst compensation to their players in comparison to the league `s average salary using percentiles

--19.Ranking and Identifying Cost-Effective Teams in the 2015 Season: Based on Salary and Wins Criteria (Below average spending and above average wins)