Python Pandas Analysis

Libraries

In [2]:
import pandas as pd

Loading the data

In [5]:
batting = pd.read_csv("../DATA/batting.csv")
batting_2 = pd.read_csv("../DATA/batting.csv")
fielding = pd.read_csv("../DATA/fielding.csv")
hall_of_fame = pd.read_csv("../DATA/hall_of_fame.csv")
player_award = pd.read_csv("../DATA/player_award.csv")
player = pd.read_csv("../DATA/player.csv")
salary = pd.read_csv("../DATA/salary.csv")
team = pd.read_csv("../DATA/team.csv")

In [38]:
table_files = [batting, batting_2, fielding, hall_of_fame, player_award, player, salary, team]
for file in table_files:
    print(file.head(5))

   player_id  year  stint team_id league_id   g     ab     r     h  double  \
0  abercda01  1871      1     TRO       NaN   1    4.0   0.0   0.0     0.0
1   addybo01  1871      1     RC1       NaN  25  118.0  30.0  32.0     6.0
2  allisar01  1871      1     CL1       NaN  29  137.0  28.0  40.0     4.0
3  allisdo01  1871      1     WS3       NaN  27  133.0  28.0  44.0    10.0
4  ansonca01  1871      1     RC1       NaN  25  120.0  29.0  39.0    11.0

   ...   rbi   sb   cs   bb   so  ibb  hbp  sh  sf  g_idp
0  ...   0.0  0.0  0.0  0.0  0.0  NaN  NaN NaN NaN    NaN
1  ...  13.0  8.0  1.0  4.0  0.0  NaN  NaN NaN NaN    NaN
2  ...  19.0  3.0  1.0  2.0  5.0  NaN  NaN NaN NaN    NaN
3  ...  27.0  1.0  1.0  0.0  2.0  NaN  NaN NaN NaN    NaN
4  ...  16.0  6.0  2.0  2.0  1.0  NaN  NaN NaN NaN    NaN

[5 rows x 22 columns]
    player_id  year  stint team_id league_id   g     ab     r     h  double  \
3   allisdo01  1871      1     WS3       NaN  27  133.0  28.0  44.0    10.0
10   bassjo01  1871      1     CL1       NaN  22   89.0  18.0  27.0     1.0
14  bechtge01  1871      1     PH1       NaN  20   94.0  24.0  33.0     9.0
24  burrohe01  1871      1     WS3       NaN  12   63.0  11.0  15.0     2.0
30  cuthbne01  1871      1     PH1       NaN  28  150.0  47.0  37.0     7.0

    ...   rbi    sb   cs    bb   so  ibb  hbp  sh  sf  g_idp
3   ...  27.0   1.0  1.0   0.0  2.0  NaN  NaN NaN NaN    NaN
10  ...  18.0   0.0  1.0   3.0  4.0  NaN  NaN NaN NaN    NaN
14  ...  21.0   4.0  0.0   2.0  2.0  NaN  NaN NaN NaN    NaN
24  ...  14.0   0.0  0.0   1.0  1.0  NaN  NaN NaN NaN    NaN
30  ...  30.0  16.0  2.0  10.0  2.0  NaN  NaN NaN NaN    NaN

[5 rows x 22 columns]
   player_id  year  stint team_id league_id pos   g  gs  inn_outs    po     a  \
0  abercda01  1871      1     TRO       NaN  SS   1 NaN       NaN   1.0   3.0
1   addybo01  1871      1     RC1       NaN  2B  22 NaN       NaN  67.0  72.0
2   addybo01  1871      1     RC1       NaN  SS   3 NaN       NaN   8.0  14.0
3  allisar01  1871      1     CL1       NaN  2B   2 NaN       NaN   1.0   4.0
4  allisar01  1871      1     CL1       NaN  OF  29 NaN       NaN  51.0   3.0

      e   dp  pb  wp  sb  cs  zr
0   2.0  0.0 NaN NaN NaN NaN NaN
1  42.0  5.0 NaN NaN NaN NaN NaN
2   7.0  0.0 NaN NaN NaN NaN NaN
3   0.0  0.0 NaN NaN NaN NaN NaN
4   7.0  1.0 NaN NaN NaN NaN NaN
   player_id  yearid votedby  ballots  needed  votes inducted category  \
0   cobbty01    1936   BBWAA    226.0   170.0  222.0        Y   Player
1   ruthba01    1936   BBWAA    226.0   170.0  215.0        Y   Player
2  wagneho01    1936   BBWAA    226.0   170.0  215.0        Y   Player
3  mathech01    1936   BBWAA    226.0   170.0  205.0        Y   Player
4  johnswa01    1936   BBWAA    226.0   170.0  189.0        Y   Player

  needed_note
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
   player_id               award_id  year league_id  tie notes
0   bondto01  Pitching Triple Crown  1877        NL  NaN   NaN
1  hinespa01           Triple Crown  1878        NL  NaN   NaN
2  heckegu01  Pitching Triple Crown  1884        AA  NaN   NaN
3  radboch01  Pitching Triple Crown  1884        NL  NaN   NaN
4  oneilti01           Triple Crown  1887        AA  NaN   NaN
   player_id  birth_year  birth_month  birth_day birth_country birth_state  \
0  aardsda01      1981.0         12.0       27.0           USA          CO
1  aaronha01      1934.0          2.0        5.0           USA          AL
2  aaronto01      1939.0          8.0        5.0           USA          AL
3   aasedo01      1954.0          9.0        8.0           USA          CA
4   abadan01      1972.0          8.0       25.0           USA          FL

   birth_city  death_year  death_month  death_day  ...      name_given weight  \
0      Denver         NaN          NaN        NaN  ...     David Allan  220.0
1      Mobile         NaN          NaN        NaN  ...     Henry Louis  180.0
2      Mobile      1984.0          8.0       16.0  ...      Tommie Lee  190.0
3      Orange         NaN          NaN        NaN  ...  Donald William  190.0
4  Palm Beach         NaN          NaN        NaN  ...   Fausto Andres  184.0

  height bats throws       debut  final_game  retro_id   bbref_id  \
0   75.0    R      R  2004-04-06  2015-08-23  aardd001  aardsda01
1   72.0    R      R  1954-04-13  1976-10-03  aaroh101  aaronha01
2   75.0    R      R  1962-04-10  1971-09-26  aarot101  aaronto01
3   75.0    R      R  1977-07-26  1990-10-03  aased001   aasedo01
4   73.0    L      L  2001-09-10  2006-04-13  abada001   abadan01

       full_name
0  David Aardsma
1     Hank Aaron
2   Tommie Aaron
3       Don Aase
4      Andy Abad

[5 rows x 25 columns]
   year team_id league_id  player_id  salary  decade
0  1985     ATL        NL  barkele01  870000    1980
1  1985     ATL        NL  bedrost01  550000    1980
2  1985     ATL        NL  benedbr01  545000    1980
3  1985     ATL        NL   campri01  633333    1980
4  1985     ATL        NL  ceronri01  625000    1980
   year league_id team_id franchise_id div_id  rank   g  ghome   w   l  ...  \
0  1871       NaN     BS1          BNA    NaN     3  31    NaN  20  10  ...
1  1871       NaN     CH1          CNA    NaN     2  28    NaN  19   9  ...
2  1871       NaN     CL1          CFC    NaN     8  29    NaN  10  19  ...
3  1871       NaN     FW1          KEK    NaN     7  19    NaN   7  12  ...
4  1871       NaN     NY2          NNA    NaN     5  33    NaN  16  17  ...

                      name                          park attendance  bpf  ppf  \
0     Boston Red Stockings           South End Grounds I        NaN  103   98
1  Chicago White Stockings       Union Base-Ball Grounds        NaN  104  102
2   Cleveland Forest Citys  National Association Grounds        NaN   96  100
3     Fort Wayne Kekiongas                Hamilton Field        NaN  101  107
4         New York Mutuals      Union Grounds (Brooklyn)        NaN   90   88

   team_id_br  team_id_lahman45  team_id_retro  decade  avg_hr_per_game
0         BOS               BS1            BS1    1870            0.097
1         CHI               CH1            CH1    1870            0.357
2         CLE               CL1            CL1    1870            0.241
3         KEK               FW1            FW1    1870            0.105
4         NYU               NY2            NY2    1870            0.030

[5 rows x 50 columns]

Modifications

In [6]:
#Creation of batting_2 table
batting_2 = batting[(batting['hr'].notnull()) & (batting['hr'] > 0) & (batting['ab'].notnull()) & (batting['ab'] > 0)]
batting_2.to_csv('batting_2.csv', index=False)

#Altering player table
player['full_name'] = player['name_first'] + ' ' + player['name_last']

--1. The best hitters in history by home runs

In [40]:
best_hitters = batting[batting['hr'].notnull()].groupby('player_id')['hr'].sum().reset_index().sort_values(by= 'hr', ascending=False).head(25).reset_index(drop=True)
best_hitters

    player_id     hr
0   bondsba01  762.0
1   aaronha01  755.0
2    ruthba01  714.0
3   rodrial01  687.0
4    mayswi01  660.0
5   griffke02  630.0
6   thomeji01  612.0
7    sosasa01  609.0
8   robinfr02  586.0
9   mcgwima01  583.0
10  killeha01  573.0
11  palmera01  569.0
12  jacksre01  563.0
13  pujolal01  560.0
14  ramirma02  555.0
15  schmimi01  548.0
16  mantlmi01  536.0
17   foxxji01  534.0
18  mccovwi01  521.0
19  willite01  521.0
20  thomafr04  521.0
21  matheed01  512.0
22  bankser01  512.0
23    ottme01  511.0
24  sheffga01  509.0

--2.  Most homeruns by Boston Red Sox players ever

In [31]:
merged_df = pd.merge(batting_2, player, on = 'player_id')
filtered_df = merged_df[merged_df['team_id']=='BOS'].groupby(['player_id', 'name_first', 'name_last']).hr.sum().reset_index()
filtered_df['full_name'] = filtered_df['name_first'] + ' ' + filtered_df['name_last']
filtered_df = filtered_df[['player_id', 'full_name', 'hr']]
result_df = filtered_df.sort_values(by='hr', ascending=False).head(10).reset_index(drop=True)
result_df

   player_id         full_name     hr
0  willite01      Ted Williams  521.0
1  yastrca01  Carl Yastrzemski  452.0
2  ortizda01       David Ortiz  445.0
3   riceji01          Jim Rice  382.0
4  evansdw01      Dwight Evans  379.0
5  ramirma02     Manny Ramirez  274.0
6  vaughmo01         Mo Vaughn  230.0
7  doerrbo01       Bobby Doerr  223.0
8   foxxji01       Jimmie Foxx  222.0
9  petrori01   Rico Petrocelli  210.0

--3. Ranking players by homeruns, in case of players having the same number of home runs the rank will take number of hits into consideration

In [7]:
merged_df = pd.merge(batting_2, player, on='player_id')
filtered_df = merged_df[merged_df['year'] == 2015]
filtered_df['batting_avg'] = filtered_df['h'] / filtered_df['ab']
sorted_df = filtered_df.sort_values(by=['hr', 'batting_avg'], ascending=[False, False])
sorted_df.reset_index(drop=True, inplace=True)
sorted_df['Rank'] = sorted_df.index + 1
result = sorted_df[['full_name', 'hr', 'batting_avg', 'Rank']].head(25).reset_index(drop=True)
result

C:\Users\andre\AppData\Local\Temp\ipykernel_2112\2630120489.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['batting_avg'] = filtered_df['h'] / filtered_df['ab']

            full_name    hr  batting_avg  Rank
0         Chris Davis  47.0     0.261780     1
1         Nelson Cruz  44.0     0.301695     2
2        Bryce Harper  42.0     0.330134     3
3       Nolan Arenado  42.0     0.287338     4
4          Mike Trout  41.0     0.299130     5
5      Josh Donaldson  41.0     0.296774     6
6     Carlos Gonzalez  40.0     0.270758     7
7       Jose Bautista  40.0     0.250460     8
8       Albert Pujols  40.0     0.244186     9
9   Edwin Encarnacion  39.0     0.276515    10
10     J. D. Martinez  38.0     0.281879    11
11        David Ortiz  37.0     0.272727    12
12      Manny Machado  35.0     0.285940    13
13       Todd Frazier  35.0     0.255250    14
14   Paul Goldschmidt  33.0     0.320988    15
15     Alex Rodriguez  33.0     0.250478    16
16      Anthony Rizzo  31.0     0.278157    17
17      Mark Teixeira  31.0     0.255102    18
18         Jose Abreu  30.0     0.290375    19
19         Joey Votto  29.0     0.313761    20
20    Adrian Gonzalez  28.0     0.274956    21
21     Matt Carpenter  28.0     0.271777    22
22       Brian Dozier  28.0     0.235669    23
23         Adam Jones  27.0     0.269231    24
24  Giancarlo Stanton  27.0     0.265233    25

--4.Best homeruns per at bat averages from the New York Yankees players since 2000´s

In [14]:
merged_df = pd.merge(batting_2, player, on = 'player_id')
filtered_df = merged_df[(merged_df['ab'] >= 100) & (merged_df['year']==2000)]
grouped_df = filtered_df.groupby(['player_id', 'full_name'])[['ab','hr']].sum().reset_index()
grouped_df['Homeruns_per_ab'] = round(grouped_df['hr'] / grouped_df['ab'],3)
result_df = grouped_df.sort_values(by='Homeruns_per_ab', ascending=False).head(50).reset_index(drop=True)
result_df

    player_id           full_name     ab    hr  Homeruns_per_ab
0   mcgwima01        Mark McGwire  236.0  32.0            0.136
1   bondsba01         Barry Bonds  480.0  49.0            0.102
2    hillgl01      Glenallen Hill  300.0  27.0            0.090
3   ramirma02       Manny Ramirez  439.0  38.0            0.087
4   sheffga01      Gary Sheffield  501.0  43.0            0.086
5   giambja01        Jason Giambi  510.0  43.0            0.084
6   glaustr01          Troy Glaus  563.0  47.0            0.083
7   branyru01     Russell Branyan  193.0  16.0            0.083
8    sosasa01          Sammy Sosa  604.0  50.0            0.083
9   bagweje01        Jeff Bagwell  590.0  47.0            0.080
10  edmonji01         Jim Edmonds  525.0  42.0            0.080
11  hundlto01        Todd Hundley  299.0  24.0            0.080
12  piazzmi01         Mike Piazza  482.0  38.0            0.079
13  hidalri01     Richard Hidalgo  558.0  44.0            0.079
14  justida01       David Justice  524.0  41.0            0.078
15  guerrvl01   Vladimir Guerrero  571.0  44.0            0.077
16  griffke02         Ken Griffey  520.0  40.0            0.077
17   wardda01         Daryle Ward  264.0  20.0            0.076
18  rodrial01      Alex Rodriguez  554.0  41.0            0.074
19  thomafr04        Frank Thomas  582.0  43.0            0.074
20  johnsch04     Charles Johnson  421.0  31.0            0.074
21  rodriiv01      Ivan Rodriguez  363.0  27.0            0.074
22  andresh01       Shane Andrews  192.0  14.0            0.073
23  heltoto01         Todd Helton  580.0  42.0            0.072
24  caminke01        Ken Caminiti  208.0  15.0            0.072
25  delgaca01      Carlos Delgado  569.0  41.0            0.072
26  buhneja01          Jay Buhner  364.0  26.0            0.071
27  evereca01        Carl Everett  496.0  34.0            0.069
28  palmera01     Rafael Palmeiro  565.0  39.0            0.069
29  lampkto01         Tom Lampkin  103.0   7.0            0.068
30  martied01      Edgar Martinez  556.0  37.0            0.067
31  jenkige01       Geoff Jenkins  512.0  34.0            0.066
32  thomeji01           Jim Thome  557.0  37.0            0.066
33  hanseda01         Dave Hansen  121.0   8.0            0.066
34  fullmbr01        Brad Fullmer  482.0  32.0            0.066
35  batisto01        Tony Batista  620.0  41.0            0.066
36  lankfra01        Ray Lankford  392.0  26.0            0.066
37   aloumo01         Moises Alou  454.0  30.0            0.066
38  finlest01        Steve Finley  539.0  35.0            0.065
39  richach01       Chris Richard  199.0  13.0            0.065
40  elsteke01        Kevin Elster  220.0  14.0            0.064
41  gilesbr02         Brian Giles  559.0  35.0            0.063
42  houstty01       Tyler Houston  284.0  18.0            0.063
43  seguife01  Fernando Seguignol  162.0  10.0            0.062
44  vandejo02     John Vander Wal  384.0  24.0            0.062
45  clarkto02          Tony Clark  208.0  13.0            0.062
46  jonesch06       Chipper Jones  579.0  36.0            0.062
47  mondera01        Raul Mondesi  388.0  24.0            0.062
48  burksel01         Ellis Burks  393.0  24.0            0.061
49  vaughgr01         Greg Vaughn  461.0  28.0            0.061

--5.New York Yankees players batting average and determing which ones are above the league´s average

In [16]:
league_avg = batting_2[batting_2['ab']>=100]
league_avg = league_avg.h.sum() / league_avg.ab.sum()
league_avg

merged_df = pd.merge(batting, player, on='player_id')
filtered_df = merged_df[(merged_df['ab']>=200) & (merged_df['team_id']=='NYA')]
grouped_df = filtered_df.groupby(['player_id', 'full_name'])[['h','ab']].sum().reset_index()
grouped_df['batting_avg'] = round(grouped_df['h'] / grouped_df['ab'],3)
grouped_df['batting_performance'] = grouped_df['batting_avg'].apply(lambda x: 'Above_avg' if x > league_avg else 'Below_avg')
result_df = grouped_df.sort_values(by='batting_avg', ascending=False).head(25).reset_index(drop=True)
result_df

,player_id,full_name,h,ab,batting_avg,batting_performance
0,ruthba01,Babe Ruth,2518.0,7216.0,0.349,Above_avg
1,gehrilo01,Lou Gehrig,2700.0,7935.0,0.340,Above_avg
2,duncama01,Mariano Duncan,136.0,400.0,0.340,Above_avg
3,dimagjo01,Joe DiMaggio,2214.0,6821.0,0.325,Above_avg
4,combsea01,Earle Combs,1852.0,5711.0,0.324,Above_avg
5,paschbe01,Ben Paschal,163.0,505.0,0.323,Above_avg
6,jamesdi01,Dion James,174.0,552.0,0.315,Above_avg
7,dickebi01,Bill Dickey,1931.0,6151.0,0.314,Above_avg
8,boggswa01,Wade Boggs,702.0,2240.0,0.313,Above_avg
9,meusebo01,Bob Meusel,1565.0,5032.0,0.311,Above_avg
10,jeterde01,Derek Jeter,3441.0,11084.0,0.310,Above_avg
11,canoro01,Robinson Cano,1649.0,5336.0,0.309,Above_avg
12,mattido01,Don Mattingly,2151.0,6991.0,0.308,Above_avg
13,watsobo01,Bob Watson,144.0,469.0,0.307,Above_avg
14,sojolu01,Luis Sojo,66.0,215.0,0.307,Above_avg
15,chapmbe01,Ben Chapman,1042.0,3400.0,0.306,Above_avg
16,maddoel01,Elliott Maddox,208.0,684.0,0.304,Above_avg
17,pinielo01,Lou Piniella,819.0,2699.0,0.303,Above_avg
18,schanwa01,Wally Schang,443.0,1460.0,0.303,Above_avg
19,oneilpa01,Paul O'Neill,1426.0,4700.0,0.303,Above_avg
20,wittwh01,Whitey Witt,522.0,1724.0,0.303,Above_avg
21,blombro01,Ron Blomberg,261.0,864.0,0.302,Above_avg
22,easlemi01,Mike Easler,148.0,490.0,0.302,Above_avg
23,rivermi01,Mickey Rivers,598.0,2000.0,0.299,Above_avg
24,raineti01,Tim Raines,237.0,793.0,0.299,Above_avg

--6.Teams with the highest avg attendance per game in 21st century

In [33]:
filtered_df = team[team['year']>=2000].groupby('name')[['attendance', 'g']].sum().reset_index()
filtered_df['avg_attendance_per_game'] = round(filtered_df['attendance'] / filtered_df['g'])
result_df = filtered_df.sort_values(by='avg_attendance_per_game', ascending=False).reset_index(drop=True)
result_df

                             name  attendance     g  avg_attendance_per_game
0                New York Yankees  58491801.0  2590                  22584.0
1             Los Angeles Dodgers  55479368.0  2591                  21412.0
2             St. Louis Cardinals  52779669.0  2591                  20370.0
3            San Francisco Giants  51539703.0  2590                  19899.0
4   Los Angeles Angels of Anaheim  35361353.0  1782                  19844.0
5                    Chicago Cubs  47557886.0  2590                  18362.0
6                  Boston Red Sox  46097292.0  2591                  17791.0
7           Philadelphia Phillies  44183070.0  2591                  17053.0
8                   New York Mets  44026638.0  2590                  16999.0
9                Colorado Rockies  41978667.0  2593                  16189.0
10                  Texas Rangers  41050712.0  2593                  15831.0
11                 Anaheim Angels  12810219.0   810                  15815.0
12               Seattle Mariners  40344500.0  2592                  15565.0
13                 Atlanta Braves  40320936.0  2591                  15562.0
14              Milwaukee Brewers  40188606.0  2592                  15505.0
15                 Houston Astros  39731913.0  2592                  15329.0
16                 Detroit Tigers  39444074.0  2591                  15223.0
17           Arizona Diamondbacks  37946488.0  2592                  14640.0
18               San Diego Padres  37885083.0  2593                  14611.0
19              Baltimore Orioles  37766746.0  2592                  14571.0
20           Washington Nationals  24957479.0  1780                  14021.0
21                Minnesota Twins  36016389.0  2593                  13890.0
22                Cincinnati Reds  34950170.0  2594                  13473.0
23              Chicago White Sox  33366890.0  2593                  12868.0
24              Toronto Blue Jays  33162614.0  2591                  12799.0
25              Cleveland Indians  32255283.0  2591                  12449.0
26             Pittsburgh Pirates  30674181.0  2589                  11848.0
27              Oakland Athletics  29561870.0  2590                  11414.0
28                  Miami Marlins   7290284.0   648                  11250.0
29             Kansas City Royals  27098544.0  2592                  10455.0
30                 Tampa Bay Rays  12863080.0  1297                   9918.0
31                Florida Marlins  16518116.0  1942                   8506.0
32           Tampa Bay Devil Rays  10045608.0  1293                   7769.0
33                 Montreal Expos   4156251.0   810                   5131.0

--7. Top Pitchers of all time based on the highest number of Pitching Triple Crown player award

In [17]:
merged_df = pd.merge(player, player_award, on = 'player_id')
filtered_df = merged_df[merged_df['award_id']=='Pitching Triple Crown']
result_df = filtered_df.groupby(['player_id', 'full_name']).award_id.count().reset_index().sort_values(by='award_id', ascending=False).head(10).reset_index(drop=True)
result_df

   player_id          full_name  award_id
0  alexape01     Pete Alexander         3
1  johnswa01     Walter Johnson         3
2  koufasa01       Sandy Koufax         3
3  gomezle01        Lefty Gomez         2
4  grovele01        Lefty Grove         2
5  clemero02      Roger Clemens         2
6  mathech01  Christy Mathewson         2
7  clarkjo01      John Clarkson         1
8  peavyja01         Jake Peavy         1
9  waltebu01      Bucky Walters         1

--8.Teams with the highest salary disparity

In [34]:
filtered_df = salary[salary['year']==2015].groupby('team_id').salary.agg(average_salary = 'mean', max_salary = 'max').reset_index()
filtered_df['salary_disparity'] = ((filtered_df['max_salary'] - filtered_df['average_salary']) / filtered_df['average_salary'] * 100).round(2).astype(str) + '%'
result_df = filtered_df[['team_id', 'average_salary', 'max_salary', 'salary_disparity']].sort_values(by='salary_disparity', ascending=False).reset_index(drop=True)
result_df

   team_id  average_salary  max_salary salary_disparity
0      PHI    4.295885e+06    25000000          481.95%
1      ARI    2.132207e+06    12000000           462.8%
2      LAA    4.444645e+06    24000000          439.98%
3      MIN    4.310200e+06    23000000          433.62%
4      COL    3.827544e+06    20000000          422.53%
5      NYN    3.870667e+06    20000000          416.71%
6      SEA    4.888348e+06    24857000          408.49%
7      TEX    4.791426e+06    24000000          400.89%
8      CLE    3.022888e+06    15000000          396.21%
9      TBA    2.224870e+06    11000000          394.41%
10     TOR    4.519696e+06    22000000          386.76%
11     CHN    4.138547e+06    20000000          383.26%
12     SDN    4.555435e+06    21250000          366.48%
13     OAK    2.823339e+06    13000000          360.45%
14     LAN    7.441103e+06    32571000          337.72%
15     SLN    4.586212e+06    19500000          325.19%
16     DET    6.891390e+06    28000000           306.3%
17     MIL    3.477586e+06    14000000          302.58%
18     ATL    2.990885e+06    12000000          301.22%
19     WAS    5.365085e+06    21000000          291.42%
20     MIA    2.835688e+06    11000000          287.91%
21     HOU    2.580579e+06    10000000          287.51%
22     PIT    3.065259e+06    11666666          280.61%
23     CHA    4.161989e+06    15750000          278.42%
24     BOS    5.659481e+06    19750000          248.97%
25     SFN    6.100056e+06    21000000          244.26%
26     CIN    4.187862e+06    14000000           234.3%
27     BAL    4.108744e+06    13333333          224.51%
28     NYA    7.336274e+06    23125000          215.21%
29     KCA    4.152112e+06    12500000          201.05%

--9. Top 10 players with the highest number of hits who are also members of the Hall of Fame

In [20]:
merged_df = pd.merge(batting_2, player, on = 'player_id')
full_merge = pd.merge(merged_df, hall_of_fame, on = 'player_id')
filtered_df = full_merge[(full_merge['year']>1950) & (full_merge['inducted']=='Y')].groupby(['player_id', 'full_name'])['h'].sum().reset_index()
result_df = filtered_df.sort_values(by='h', ascending=False).head(25).reset_index(drop=True)
result_df

    player_id         full_name       h
0   aaronha01        Hank Aaron  3771.0
1   yastrca01  Carl Yastrzemski  3419.0
2   molitpa01      Paul Molitor  3309.0
3    mayswi01       Willie Mays  3274.0
4   murraed02      Eddie Murray  3253.0
5   ripkeca01        Cal Ripken  3179.0
6   brettge01      George Brett  3149.0
7   yountro01       Robin Yount  3142.0
8   gwynnto01        Tony Gwynn  3141.0
9   winfida01     Dave Winfield  3110.0
10  biggicr01      Craig Biggio  3060.0
11  henderi01  Rickey Henderson  3034.0
12  boggswa01        Wade Boggs  3010.0
13  kalinal01         Al Kaline  3007.0
14  clemero01  Roberto Clemente  3000.0
15  brocklo01         Lou Brock  2956.0
16  robinfr02    Frank Robinson  2943.0
17  carewro01         Rod Carew  2883.0
18  robinbr01   Brooks Robinson  2846.0
19  griffke02       Ken Griffey  2763.0
20  dawsoan01      Andre Dawson  2754.0
21  perezto01        Tony Perez  2730.0
22  alomaro01    Roberto Alomar  2724.0
23  willibi01    Billy Williams  2706.0
24  jacksre01    Reggie Jackson  2584.0

--10. Best paid players and their fielding position

In [35]:
merged_df = pd.merge(salary, fielding, on = 'player_id')
full_merge = pd.merge(merged_df, player, on = 'player_id')
grouped_df = full_merge.groupby(['player_id', 'full_name', 'pos'])['salary'].max().reset_index()
result_df = grouped_df.sort_values(by='salary', ascending=False).head(50).reset_index(drop=True)
result_df

    player_id         full_name pos    salary
0   rodrial01    Alex Rodriguez  SS  33000000
1   rodrial01    Alex Rodriguez  DH  33000000
2   rodrial01    Alex Rodriguez  3B  33000000
3   rodrial01    Alex Rodriguez  1B  33000000
4   kershcl01   Clayton Kershaw   P  32571000
5   verlaju01  Justin Verlander   P  28000000
6   wellsve01      Vernon Wells  2B  26187500
7   wellsve01      Vernon Wells  CF  26187500
8   wellsve01      Vernon Wells  OF  26187500
9   wellsve01      Vernon Wells  LF  26187500
10  wellsve01      Vernon Wells  3B  26187500
11  wellsve01      Vernon Wells  RF  26187500
12  wellsve01      Vernon Wells  1B  26187500
13  greinza01      Zack Greinke   P  26000000
14    leecl02         Cliff Lee   P  25000000
15  howarry01       Ryan Howard  1B  25000000
16  hernafe02   Felix Hernandez   P  24857000
17  sabatcc01       CC Sabathia   P  24285714
18   canoro01     Robinson Cano  2B  24000000
19   canoro01     Robinson Cano  SS  24000000
20  pujolal01     Albert Pujols  SS  24000000
21  pujolal01     Albert Pujols  RF  24000000
22  pujolal01     Albert Pujols  OF  24000000
23  pujolal01     Albert Pujols  LF  24000000
24  pujolal01     Albert Pujols  3B  24000000
25  pujolal01     Albert Pujols  2B  24000000
26  pujolal01     Albert Pujols  1B  24000000
27  fieldpr01    Prince Fielder  1B  24000000
28  ramirma02     Manny Ramirez  DH  23854494
29  ramirma02     Manny Ramirez  LF  23854494
30  ramirma02     Manny Ramirez  OF  23854494
31  ramirma02     Manny Ramirez  RF  23854494
32  hamelco01       Cole Hamels   P  23500000
33  giambja01      Jason Giambi  1B  23428571
34  giambja01      Jason Giambi  3B  23428571
35  giambja01      Jason Giambi  DH  23428571
36  giambja01      Jason Giambi  LF  23428571
37  giambja01      Jason Giambi  OF  23428571
38  giambja01      Jason Giambi  RF  23428571
39  santajo01     Johan Santana   P  23145011
40  teixema01     Mark Teixeira  OF  23125000
41  teixema01     Mark Teixeira  1B  23125000
42  teixema01     Mark Teixeira  3B  23125000
43  teixema01     Mark Teixeira  LF  23125000
44  teixema01     Mark Teixeira  RF  23125000
45  mauerjo01         Joe Mauer  OF  23000000
46  mauerjo01         Joe Mauer   C  23000000
47  mauerjo01         Joe Mauer  1B  23000000
48  mauerjo01         Joe Mauer  RF  23000000
49  hamiljo03     Josh Hamilton  RF  22708749

--11.Average salary per fielding position since 2000`s

In [23]:
merged_df = pd.merge(salary, fielding, on = 'player_id')
filtered_df = merged_df[merged_df['year_y']>=2000].groupby('pos')['salary'].mean().reset_index()
result_df = filtered_df.sort_values(by='salary', ascending=False).reset_index(drop=True)
result_df

  pos        salary
0  1B  3.517212e+06
1  OF  3.421048e+06
2  CF  3.279103e+06
3  RF  3.093472e+06
4   P  2.903943e+06
5  LF  2.867335e+06
6  3B  2.815175e+06
7  SS  2.807452e+06
8  2B  2.300095e+06
9   C  2.179792e+06

--12.Pitchers that earn more than the average salary in the mlb for the year 2015

In [29]:
merged_df = pd.merge(player, salary, on = 'player_id')
full_merge = pd.merge(merged_df, fielding, on = 'player_id')
avg_salary = salary[salary['year']==2015].salary.mean()
avg_salary
filtered_df = full_merge[(full_merge['salary']>avg_salary) & (full_merge['year_x']==2015) & (full_merge['pos']=='P')]
grouped_df = filtered_df.groupby('full_name').salary.max().reset_index()
result_df = grouped_df.sort_values(by='salary', ascending=False).head(25).reset_index(drop=True)
result_df

            full_name    salary
0     Clayton Kershaw  32571000
1    Justin Verlander  28000000
2        Zack Greinke  25000000
3     Felix Hernandez  24857000
4         Cole Hamels  23500000
5         CC Sabathia  23000000
6     Masahiro Tanaka  22000000
7           Matt Cain  21000000
8          Jon Lester  20000000
9        Mark Buehrle  20000000
10        David Price  19750000
11    Adam Wainwright  19500000
12       Tim Lincecum  18000000
13       Jered Weaver  18000000
14       C. J. Wilson  18000000
15       Max Scherzer  17142000
16     Anibal Sanchez  16800000
17  Jordan Zimmermann  16500000
18         John Danks  15750000
19       Nick Swisher  15000000
20    Yovani Gallardo  14000000
21      Ervin Santana  13500000
22       Scott Kazmir  13000000
23  Jonathan Papelbon  13000000
24      Edwin Jackson  13000000

--13.Average strikeouts per game by decade

In [25]:
team['decade'] = (team.year // 10) * 10
team['avg_so_per_game'] = (team.so / team.g).round(2)
grouped_df = team.groupby('decade').avg_so_per_game.mean().reset_index()
result_df = grouped_df.sort_values(by='decade', ascending=False).reset_index(drop=True)
result_df

    decade  avg_so_per_game
0     2010         7.435889
1     2000         6.561033
2     1990         6.150827
3     1980         5.342615
4     1970         5.144959
5     1960         5.712727
6     1950         4.399437
7     1940         3.550000
8     1930         3.316375
9     1920         2.814437
10    1910         3.609671
11    1900         3.197857
12    1890         2.657971
13    1880         3.718805
14    1870         1.027051

--14.Average homeruns per game by decade

In [29]:
team['decade'] = (team.year // 10) * 10
team['avg_hr_per_game'] = (team.hr / team.g).round(3)
grouped_df = team.groupby('decade').avg_hr_per_game.mean().reset_index()
result_df = grouped_df.sort_values(by='decade', ascending=False).reset_index(drop=True)
result_df

    decade  avg_hr_per_game
0     2010         0.955328
1     2000         1.073370
2     1990         0.960288
3     1980         0.804019
4     1970         0.745614
5     1960         0.820222
6     1950         0.843019
7     1940         0.523094
8     1930         0.545725
9     1920         0.401719
10    1910         0.169602
11    1900         0.138461
12    1890         0.253072
13    1880         0.202358
14    1870         0.086295

--15.Most wins in a season without winning the World Series.

In [26]:
team['winning_percentage'] = ((team.w / team.g)*100).round(2)
filtered_df = team[(team['ws_win']== 'N') & (team['year']>=2000)]
grouped_df = filtered_df.groupby(['name', 'g', 'w', 'winning_percentage', 'year']).first().reset_index()
ordered_df = grouped_df.sort_values(by='winning_percentage', ascending=False).head(5).reset_index(drop=True)
result_df = ordered_df[['name', 'g', 'w', 'winning_percentage', 'year']]
result_df

                    name    g    w  winning_percentage  year
0       Seattle Mariners  162  116               71.60  2001
1    St. Louis Cardinals  162  105               64.81  2004
2       New York Yankees  161  103               63.98  2002
3      Oakland Athletics  162  103               63.58  2002
4  Philadelphia Phillies  162  102               62.96  2011

--16. Minimum wins in a season and winning the World Series since 21st century.

In [28]:
filtered_df = team[(team['ws_win']== 'Y') & (team['year']>=2000)]
filtered_df['winning_percentage'] = ((team.w / team.g)*100).round(2)
grouped_df = filtered_df.groupby(['name', 'g', 'w', 'year']).first().reset_index()
ordered_df = grouped_df.sort_values(by='winning_percentage', ascending=True).head(5).reset_index(drop=True)
result_df = ordered_df[['name', 'g', 'w', 'winning_percentage', 'year']]
result_df

C:\Users\andre\AppData\Local\Temp\ipykernel_2112\2945289923.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['winning_percentage'] = ((team.w / team.g)*100).round(2)

                   name    g   w  winning_percentage  year
0   St. Louis Cardinals  161  83               51.55  2006
1      New York Yankees  161  87               54.04  2000
2  San Francisco Giants  162  88               54.32  2014
3   St. Louis Cardinals  162  90               55.56  2011
4       Florida Marlins  162  91               56.17  2003

--17 Average salaries per decade evolution for MLB players

In [27]:
salary['decade'] = (salary.year // 10) * 10
grouped_df = salary.groupby('decade').salary.mean().round().reset_index()
result_df = grouped_df.sort_values(by='decade', ascending=False).reset_index(drop=True)
result_df

   decade     salary
0    2010  3671903.0
1    2000  2653542.0
2    1990  1058647.0
3    1980   456930.0

--18.Average salaries by team and which of them have the best and worst compensation to their players in comparison to the league `s average salary using percentiles

In [36]:
salary_2015 = salary[salary['year'] == 2015]
avg_salaries_per_team = salary_2015.groupby('team_id')['salary'].mean().reset_index()

p10 = avg_salaries_per_team['salary'].quantile(0.1)
p25 = avg_salaries_per_team['salary'].quantile(0.25)
p75 = avg_salaries_per_team['salary'].quantile(0.75)
p90 = avg_salaries_per_team['salary'].quantile(0.9)

def categorize_salary(avg_salary):
    if avg_salary > p90:
        return 'Very High Salaries'
    elif avg_salary < p10:
        return 'Very Low Salaries'
    elif avg_salary > p75:
        return 'High Salaries'
    elif avg_salary < p25:
        return 'Low Salaries'
    else:
        return 'Medium Salaries'

avg_salaries_per_team['Compensation'] = avg_salaries_per_team['salary'].apply(categorize_salary)
result_df = avg_salaries_per_team[['team_id', 'salary', 'Compensation']].sort_values(by='salary', ascending=False).reset_index(drop=True)
result_df

   team_id        salary        Compensation
0      LAN  7.441103e+06  Very High Salaries
1      NYA  7.336274e+06  Very High Salaries
2      DET  6.891390e+06  Very High Salaries
3      SFN  6.100056e+06       High Salaries
4      BOS  5.659481e+06       High Salaries
5      WAS  5.365085e+06       High Salaries
6      SEA  4.888348e+06       High Salaries
7      TEX  4.791426e+06       High Salaries
8      SLN  4.586212e+06     Medium Salaries
9      SDN  4.555435e+06     Medium Salaries
10     TOR  4.519696e+06     Medium Salaries
11     LAA  4.444645e+06     Medium Salaries
12     MIN  4.310200e+06     Medium Salaries
13     PHI  4.295885e+06     Medium Salaries
14     CIN  4.187862e+06     Medium Salaries
15     CHA  4.161989e+06     Medium Salaries
16     KCA  4.152112e+06     Medium Salaries
17     CHN  4.138547e+06     Medium Salaries
18     BAL  4.108744e+06     Medium Salaries
19     NYN  3.870667e+06     Medium Salaries
20     COL  3.827544e+06     Medium Salaries
21     MIL  3.477586e+06     Medium Salaries
22     PIT  3.065259e+06        Low Salaries
23     CLE  3.022888e+06        Low Salaries
24     ATL  2.990885e+06        Low Salaries
25     MIA  2.835688e+06        Low Salaries
26     OAK  2.823339e+06        Low Salaries
27     HOU  2.580579e+06   Very Low Salaries
28     TBA  2.224870e+06   Very Low Salaries
29     ARI  2.132207e+06   Very Low Salaries

--19.Ranking and Identifying Cost-Effective Teams in the 2015 Season: Based on Salary and Wins Criteria (Below average spending and above average wins)

In [37]:
merged_data = pd.merge(salary, team, on='team_id')
merged_data_2015 = merged_data[merged_data['year_y'] == 2015]
grouped_data = merged_data_2015.groupby(['name', 'w']).salary.sum().reset_index()
grouped_data['salary_rank'] = grouped_data['salary'].rank(ascending=False, method='min')
grouped_data['win_rank'] = grouped_data['w'].rank(ascending=False, method='min')
grouped_data['Spending'] = grouped_data.apply(lambda row: 'Effective' if (row['salary_rank'] >= 15 and row['win_rank'] <= 15) else '', axis=1)
result_df = grouped_data[['name', 'salary_rank', 'win_rank', 'Spending']].sort_values(by='salary_rank').reset_index(drop=True)
result_df

                             name  salary_rank  win_rank   Spending
0                New York Yankees          1.0       9.0
1                  Boston Red Sox          2.0      19.0
2             Los Angeles Dodgers          3.0       6.0
3                   New York Mets          4.0       7.0
4           Philadelphia Phillies          5.0      30.0
5            San Francisco Giants          6.0      12.0
6                    Chicago Cubs          7.0       3.0
7                  Atlanta Braves          8.0      28.0
8                  Detroit Tigers          9.0      22.0
9             St. Louis Cardinals         10.0       1.0
10                  Texas Rangers         11.0       8.0
11              Chicago White Sox         12.0      20.0
12               Seattle Mariners         13.0      20.0
13              Baltimore Orioles         14.0      15.0
14              Toronto Blue Jays         15.0       5.0  Effective
15                Cincinnati Reds         16.0      29.0
16              Cleveland Indians         17.0      15.0  Effective
17                 Houston Astros         18.0      10.0  Effective
18               Colorado Rockies         19.0      25.0
19                Minnesota Twins         20.0      13.0  Effective
20  Los Angeles Angels of Anaheim         21.0      11.0  Effective
21               San Diego Padres         22.0      22.0
22             Kansas City Royals         23.0       4.0  Effective
23           Arizona Diamondbacks         24.0      18.0
24              Oakland Athletics         25.0      25.0
25              Milwaukee Brewers         26.0      25.0
26             Pittsburgh Pirates         27.0       2.0  Effective
27           Washington Nationals         28.0      13.0  Effective
28                 Tampa Bay Rays         29.0      17.0
29                  Miami Marlins         30.0      24.0