In [10]:
import pandas as pd


batting = pd.read_csv("../DATA/batting.csv") 
fielding = pd.read_csv("../DATA/fielding.csv")
hall_of_fame = pd.read_csv("../DATA/hall_of_fame.csv")
player_award = pd.read_csv("../DATA/player_award.csv")
player = pd.read_csv("../DATA/player.csv")
salary = pd.read_csv("../DATA/salary.csv")
team = pd.read_csv("../DATA/team.csv")

table_files = [batting, fielding, hall_of_fame, player_award, player, salary, team]
for file in table_files:
    print(file.head(5))


## MODIFICATIONS

#Creation of batting_2 table
batting_2 = batting[(batting['hr'].notnull()) & (batting['hr'] > 0) & (batting['ab'].notnull()) & (batting['ab'] > 0)]
batting_2.to_csv('batting_2.csv', index=False)

#Altering player table
player['full_name'] = player['name_first'] + ' ' + player['name_last']

   player_id  year  stint team_id league_id   g     ab     r     h  double  \
0  abercda01  1871      1     TRO       NaN   1    4.0   0.0   0.0     0.0
1   addybo01  1871      1     RC1       NaN  25  118.0  30.0  32.0     6.0
2  allisar01  1871      1     CL1       NaN  29  137.0  28.0  40.0     4.0
3  allisdo01  1871      1     WS3       NaN  27  133.0  28.0  44.0    10.0
4  ansonca01  1871      1     RC1       NaN  25  120.0  29.0  39.0    11.0

   ...   rbi   sb   cs   bb   so  ibb  hbp  sh  sf  g_idp
0  ...   0.0  0.0  0.0  0.0  0.0  NaN  NaN NaN NaN    NaN
1  ...  13.0  8.0  1.0  4.0  0.0  NaN  NaN NaN NaN    NaN
2  ...  19.0  3.0  1.0  2.0  5.0  NaN  NaN NaN NaN    NaN
3  ...  27.0  1.0  1.0  0.0  2.0  NaN  NaN NaN NaN    NaN
4  ...  16.0  6.0  2.0  2.0  1.0  NaN  NaN NaN NaN    NaN

[5 rows x 22 columns]
   player_id  year  stint team_id league_id pos   g  gs  inn_outs    po     a  \
0  abercda01  1871      1     TRO       NaN  SS   1 NaN       NaN   1.0   3.0
1   addybo01  1871      1     RC1       NaN  2B  22 NaN       NaN  67.0  72.0
2   addybo01  1871      1     RC1       NaN  SS   3 NaN       NaN   8.0  14.0
3  allisar01  1871      1     CL1       NaN  2B   2 NaN       NaN   1.0   4.0
4  allisar01  1871      1     CL1       NaN  OF  29 NaN       NaN  51.0   3.0

      e   dp  pb  wp  sb  cs  zr
0   2.0  0.0 NaN NaN NaN NaN NaN
1  42.0  5.0 NaN NaN NaN NaN NaN
2   7.0  0.0 NaN NaN NaN NaN NaN
3   0.0  0.0 NaN NaN NaN NaN NaN
4   7.0  1.0 NaN NaN NaN NaN NaN
   player_id  yearid votedby  ballots  needed  votes inducted category  \
0   cobbty01    1936   BBWAA    226.0   170.0  222.0        Y   Player
1   ruthba01    1936   BBWAA    226.0   170.0  215.0        Y   Player
2  wagneho01    1936   BBWAA    226.0   170.0  215.0        Y   Player
3  mathech01    1936   BBWAA    226.0   170.0  205.0        Y   Player
4  johnswa01    1936   BBWAA    226.0   170.0  189.0        Y   Player

  needed_note
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
   player_id               award_id  year league_id  tie notes
0   bondto01  Pitching Triple Crown  1877        NL  NaN   NaN
1  hinespa01           Triple Crown  1878        NL  NaN   NaN
2  heckegu01  Pitching Triple Crown  1884        AA  NaN   NaN
3  radboch01  Pitching Triple Crown  1884        NL  NaN   NaN
4  oneilti01           Triple Crown  1887        AA  NaN   NaN
   player_id  birth_year  birth_month  birth_day birth_country birth_state  \
0  aardsda01      1981.0         12.0       27.0           USA          CO
1  aaronha01      1934.0          2.0        5.0           USA          AL
2  aaronto01      1939.0          8.0        5.0           USA          AL
3   aasedo01      1954.0          9.0        8.0           USA          CA
4   abadan01      1972.0          8.0       25.0           USA          FL

   birth_city  death_year  death_month  death_day  ... name_last  \
0      Denver         NaN          NaN        NaN  ...   Aardsma
1      Mobile         NaN          NaN        NaN  ...     Aaron
2      Mobile      1984.0          8.0       16.0  ...     Aaron
3      Orange         NaN          NaN        NaN  ...      Aase
4  Palm Beach         NaN          NaN        NaN  ...      Abad

       name_given weight height bats throws       debut  final_game  retro_id  \
0     David Allan  220.0   75.0    R      R  2004-04-06  2015-08-23  aardd001
1     Henry Louis  180.0   72.0    R      R  1954-04-13  1976-10-03  aaroh101
2      Tommie Lee  190.0   75.0    R      R  1962-04-10  1971-09-26  aarot101
3  Donald William  190.0   75.0    R      R  1977-07-26  1990-10-03  aased001
4   Fausto Andres  184.0   73.0    L      L  2001-09-10  2006-04-13  abada001

    bbref_id
0  aardsda01
1  aaronha01
2  aaronto01
3   aasedo01
4   abadan01

[5 rows x 24 columns]
   year team_id league_id  player_id  salary
0  1985     ATL        NL  barkele01  870000
1  1985     ATL        NL  bedrost01  550000
2  1985     ATL        NL  benedbr01  545000
3  1985     ATL        NL   campri01  633333
4  1985     ATL        NL  ceronri01  625000
   year league_id team_id franchise_id div_id  rank   g  ghome   w   l  ...  \
0  1871       NaN     BS1          BNA    NaN     3  31    NaN  20  10  ...
1  1871       NaN     CH1          CNA    NaN     2  28    NaN  19   9  ...
2  1871       NaN     CL1          CFC    NaN     8  29    NaN  10  19  ...
3  1871       NaN     FW1          KEK    NaN     7  19    NaN   7  12  ...
4  1871       NaN     NY2          NNA    NaN     5  33    NaN  16  17  ...

   dp    fp                     name                          park  \
0 NaN  0.83     Boston Red Stockings           South End Grounds I
1 NaN  0.82  Chicago White Stockings       Union Base-Ball Grounds
2 NaN  0.81   Cleveland Forest Citys  National Association Grounds
3 NaN  0.80     Fort Wayne Kekiongas                Hamilton Field
4 NaN  0.83         New York Mutuals      Union Grounds (Brooklyn)

   attendance  bpf  ppf  team_id_br  team_id_lahman45  team_id_retro
0         NaN  103   98         BOS               BS1            BS1
1         NaN  104  102         CHI               CH1            CH1
2         NaN   96  100         CLE               CL1            CL1
3         NaN  101  107         KEK               FW1            FW1
4         NaN   90   88         NYU               NY2            NY2

[5 rows x 48 columns]

In [11]:
#1
best_hitters = batting[batting['hr'].notnull()].groupby('player_id').hr.sum().reset_index().sort_values(by= 'hr', ascending=False).head(25).reset_index(drop=True)
best_hitters

    player_id     hr
0   bondsba01  762.0
1   aaronha01  755.0
2    ruthba01  714.0
3   rodrial01  687.0
4    mayswi01  660.0
5   griffke02  630.0
6   thomeji01  612.0
7    sosasa01  609.0
8   robinfr02  586.0
9   mcgwima01  583.0
10  killeha01  573.0
11  palmera01  569.0
12  jacksre01  563.0
13  pujolal01  560.0
14  ramirma02  555.0
15  schmimi01  548.0
16  mantlmi01  536.0
17   foxxji01  534.0
18  mccovwi01  521.0
19  willite01  521.0
20  thomafr04  521.0
21  matheed01  512.0
22  bankser01  512.0
23    ottme01  511.0
24  sheffga01  509.0

In [12]:
#2
merged_df = pd.merge(batting_2, player, on = 'player_id')
filtered_df = merged_df[merged_df['team_id']=='BOS'].groupby(['player_id', 'name_first', 'name_last']).hr.sum().reset_index()
filtered_df['full_name'] = filtered_df['name_first'] + ' ' + filtered_df['name_last']
filtered_df = filtered_df[['player_id', 'full_name', 'hr']]
result_df = filtered_df.sort_values(by='hr', ascending=False).head(10)
result_df

     player_id         full_name     hr
624  willite01      Ted Williams  521.0
635  yastrca01  Carl Yastrzemski  452.0
419  ortizda01       David Ortiz  445.0
480   riceji01          Jim Rice  382.0
170  evansdw01      Dwight Evans  379.0
467  ramirma02     Manny Ramirez  274.0
593  vaughmo01         Mo Vaughn  230.0
154  doerrbo01       Bobby Doerr  223.0
186   foxxji01       Jimmie Foxx  222.0
445  petrori01   Rico Petrocelli  210.0

In [16]:
#3
merged_df = pd.merge(batting_2, player, on='player_id')
filtered_df = merged_df[merged_df['year'] == 2015]
filtered_df['batting_avg'] = filtered_df['h'] / filtered_df['ab']
sorted_df= filtered_df.sort_values(by=['hr', 'batting_avg'], ascending=[False, False])
sorted_df.reset_index(drop=True)
sorted_df['Rank'] = sorted_df.index + 1
result = sorted_df[['full_name', 'hr', 'batting_avg', 'Rank']].head(25).reset_index(drop=True)
result

C:\Users\andre\AppData\Local\Temp\ipykernel_22328\2376274684.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['batting_avg'] = filtered_df['h'] / filtered_df['ab']

            full_name    hr  batting_avg   Rank
0         Chris Davis  47.0     0.261780  37362
1         Nelson Cruz  44.0     0.301695  36461
2        Bryce Harper  42.0     0.330134  38813
3       Nolan Arenado  42.0     0.287338  38963
4          Mike Trout  41.0     0.299130  38674
5      Josh Donaldson  41.0     0.296774  38153
6     Carlos Gonzalez  40.0     0.270758  37397
7       Jose Bautista  40.0     0.250460  36418
8       Albert Pujols  40.0     0.244186  34335
9   Edwin Encarnacion  39.0     0.276515  36069
10     J. D. Martinez  38.0     0.281879  38563
11        David Ortiz  37.0     0.272727  32303
12      Manny Machado  35.0     0.285940  38856
13       Todd Frazier  35.0     0.255250  38488
14   Paul Goldschmidt  33.0     0.320988  38507
15     Alex Rodriguez  33.0     0.250478  31303
16      Anthony Rizzo  31.0     0.278157  38637
17      Mark Teixeira  31.0     0.255102  35393
18         Jose Abreu  30.0     0.290375  39150
19         Joey Votto  29.0     0.313761  37280
20    Adrian Gonzalez  28.0     0.274956  35594
21     Matt Carpenter  28.0     0.271777  38729
22       Brian Dozier  28.0     0.235669  38765
23         Adam Jones  27.0     0.269231  36549
24  Giancarlo Stanton  27.0     0.265233  38322

In [9]:
#4
merged_df = pd.merge(batting_2, player, on = 'player_id')
filtered_df = merged_df[(merged_df['ab'] >= 100) & (merged_df['year']==2000)]
grouped_df = filtered_df.groupby(['player_id', 'full_name'])[['ab','hr']].sum().reset_index()
grouped_df['Homeruns_per_ab'] = round(grouped_df['hr'] / grouped_df['ab'],3)
result_df = grouped_df.sort_values(by='Homeruns_per_ab', ascending=False).head(50).reset_index(drop=True)
result_df

KeyError: 'full_name'

In [38]:
#5
league_avg = batting_2[batting_2['ab']>=100]
league_avg = league_avg.h.sum() / league_avg.ab.sum()
league_avg

merged_df = pd.merge(batting, player, on='player_id')
filtered_df = merged_df[(merged_df['ab']>=200) & (merged_df['team_id']=='NYA')]
grouped_df = filtered_df.groupby(['player_id', 'full_name'])[['h','ab']].sum().reset_index()
grouped_df['batting_avg'] = round(grouped_df['h'] / grouped_df['ab'],3)
grouped_df['batting_performance'] = grouped_df['batting_avg'].apply(lambda x: 'Above_avg' if x > league_avg else 'Below_avg')
ordered_df = grouped_df.sort_values(by='batting_avg', ascending=False).head(25).reset_index(drop=True)
ordered_df

,player_id,full_name,h,ab,batting_avg,batting_performance
0,ruthba01,Babe Ruth,2518.0,7216.0,0.349,Above_avg
1,gehrilo01,Lou Gehrig,2700.0,7935.0,0.340,Above_avg
2,duncama01,Mariano Duncan,136.0,400.0,0.340,Above_avg
3,dimagjo01,Joe DiMaggio,2214.0,6821.0,0.325,Above_avg
4,combsea01,Earle Combs,1852.0,5711.0,0.324,Above_avg
5,paschbe01,Ben Paschal,163.0,505.0,0.323,Above_avg
6,jamesdi01,Dion James,174.0,552.0,0.315,Above_avg
7,dickebi01,Bill Dickey,1931.0,6151.0,0.314,Above_avg
8,boggswa01,Wade Boggs,702.0,2240.0,0.313,Above_avg
9,meusebo01,Bob Meusel,1565.0,5032.0,0.311,Above_avg
10,jeterde01,Derek Jeter,3441.0,11084.0,0.310,Above_avg
11,canoro01,Robinson Cano,1649.0,5336.0,0.309,Above_avg
12,mattido01,Don Mattingly,2151.0,6991.0,0.308,Above_avg
13,watsobo01,Bob Watson,144.0,469.0,0.307,Above_avg
14,sojolu01,Luis Sojo,66.0,215.0,0.307,Above_avg
15,chapmbe01,Ben Chapman,1042.0,3400.0,0.306,Above_avg
16,maddoel01,Elliott Maddox,208.0,684.0,0.304,Above_avg
17,pinielo01,Lou Piniella,819.0,2699.0,0.303,Above_avg
18,schanwa01,Wally Schang,443.0,1460.0,0.303,Above_avg
19,oneilpa01,Paul O'Neill,1426.0,4700.0,0.303,Above_avg
20,wittwh01,Whitey Witt,522.0,1724.0,0.303,Above_avg
21,blombro01,Ron Blomberg,261.0,864.0,0.302,Above_avg
22,easlemi01,Mike Easler,148.0,490.0,0.302,Above_avg
23,rivermi01,Mickey Rivers,598.0,2000.0,0.299,Above_avg
24,raineti01,Tim Raines,237.0,793.0,0.299,Above_avg

In [172]:
#6
filtered_df = team[team['year']>=2000].groupby('name')[['attendance', 'g']].sum().reset_index()
filtered_df['avg_attendance_per_game'] = round(filtered_df['attendance'] / filtered_df['g'])
result_df = filtered_df.sort_values(by='avg_attendance_per_game', ascending=False)
result_df

                             name  attendance     g  avg_attendance_per_game
21               New York Yankees  58491801.0  2590                  22584.0
15            Los Angeles Dodgers  55479368.0  2591                  21412.0
28            St. Louis Cardinals  52779669.0  2591                  20370.0
26           San Francisco Giants  51539703.0  2590                  19899.0
14  Los Angeles Angels of Anaheim  35361353.0  1782                  19844.0
5                    Chicago Cubs  47557886.0  2590                  18362.0
4                  Boston Red Sox  46097292.0  2591                  17791.0
23          Philadelphia Phillies  44183070.0  2591                  17053.0
20                  New York Mets  44026638.0  2590                  16999.0
9                Colorado Rockies  41978667.0  2593                  16189.0
31                  Texas Rangers  41050712.0  2593                  15831.0
0                  Anaheim Angels  12810219.0   810                  15815.0
27               Seattle Mariners  40344500.0  2592                  15565.0
2                  Atlanta Braves  40320936.0  2591                  15562.0
17              Milwaukee Brewers  40188606.0  2592                  15505.0
12                 Houston Astros  39731913.0  2592                  15329.0
10                 Detroit Tigers  39444074.0  2591                  15223.0
1            Arizona Diamondbacks  37946488.0  2592                  14640.0
25               San Diego Padres  37885083.0  2593                  14611.0
3               Baltimore Orioles  37766746.0  2592                  14571.0
33           Washington Nationals  24957479.0  1780                  14021.0
18                Minnesota Twins  36016389.0  2593                  13890.0
7                 Cincinnati Reds  34950170.0  2594                  13473.0
6               Chicago White Sox  33366890.0  2593                  12868.0
32              Toronto Blue Jays  33162614.0  2591                  12799.0
8               Cleveland Indians  32255283.0  2591                  12449.0
24             Pittsburgh Pirates  30674181.0  2589                  11848.0
22              Oakland Athletics  29561870.0  2590                  11414.0
16                  Miami Marlins   7290284.0   648                  11250.0
13             Kansas City Royals  27098544.0  2592                  10455.0
30                 Tampa Bay Rays  12863080.0  1297                   9918.0
11                Florida Marlins  16518116.0  1942                   8506.0
29           Tampa Bay Devil Rays  10045608.0  1293                   7769.0
19                 Montreal Expos   4156251.0   810                   5131.0

In [39]:
#7
merged_df = pd.merge(player, player_award, on = 'player_id')
filtered_df = merged_df[merged_df['award_id']=='Pitching Triple Crown']
grouped_df = filtered_df.groupby(['player_id', 'full_name']).award_id.count().reset_index().sort_values(by='award_id', ascending=False).head(10).reset_index(drop=True)
grouped_df

   player_id          full_name  award_id
0  alexape01     Pete Alexander         3
1  johnswa01     Walter Johnson         3
2  koufasa01       Sandy Koufax         3
3  gomezle01        Lefty Gomez         2
4  grovele01        Lefty Grove         2
5  clemero02      Roger Clemens         2
6  mathech01  Christy Mathewson         2
7  clarkjo01      John Clarkson         1
8  peavyja01         Jake Peavy         1
9  waltebu01      Bucky Walters         1

   player_id          full_name  award_id
0  alexape01     Pete Alexander         3
1  johnswa01     Walter Johnson         3
2  koufasa01       Sandy Koufax         3
3  gomezle01        Lefty Gomez         2
4  grovele01        Lefty Grove         2
5  clemero02      Roger Clemens         2
6  mathech01  Christy Mathewson         2
7  clarkjo01      John Clarkson         1
8  peavyja01         Jake Peavy         1
9  waltebu01      Bucky Walters         1

In [4]:
#8 
filtered_df = salary[salary['year']==2015].groupby('team_id').salary.agg(average_salary = 'mean', max_salary = 'max').reset_index()
filtered_df['salary_disparity'] = ((filtered_df['max_salary'] - filtered_df['average_salary']) / filtered_df['average_salary'] * 100).round(2).astype(str) + '%'
result_df = filtered_df[['team_id', 'average_salary', 'max_salary', 'salary_disparity']].sort_values(by='salary_disparity', ascending=False)
result_df

   team_id  average_salary  max_salary salary_disparity
20     PHI    4.295885e+06    25000000          481.95%
0      ARI    2.132207e+06    12000000           462.8%
12     LAA    4.444645e+06    24000000          439.98%
16     MIN    4.310200e+06    23000000          433.62%
8      COL    3.827544e+06    20000000          422.53%
18     NYN    3.870667e+06    20000000          416.71%
23     SEA    4.888348e+06    24857000          408.49%
27     TEX    4.791426e+06    24000000          400.89%
7      CLE    3.022888e+06    15000000          396.21%
26     TBA    2.224870e+06    11000000          394.41%
28     TOR    4.519696e+06    22000000          386.76%
5      CHN    4.138547e+06    20000000          383.26%
22     SDN    4.555435e+06    21250000          366.48%
19     OAK    2.823339e+06    13000000          360.45%
13     LAN    7.441103e+06    32571000          337.72%
25     SLN    4.586212e+06    19500000          325.19%
9      DET    6.891390e+06    28000000           306.3%
15     MIL    3.477586e+06    14000000          302.58%
1      ATL    2.990885e+06    12000000          301.22%
29     WAS    5.365085e+06    21000000          291.42%
14     MIA    2.835688e+06    11000000          287.91%
10     HOU    2.580579e+06    10000000          287.51%
21     PIT    3.065259e+06    11666666          280.61%
4      CHA    4.161989e+06    15750000          278.42%
3      BOS    5.659481e+06    19750000          248.97%
24     SFN    6.100056e+06    21000000          244.26%
6      CIN    4.187862e+06    14000000           234.3%
2      BAL    4.108744e+06    13333333          224.51%
17     NYA    7.336274e+06    23125000          215.21%
11     KCA    4.152112e+06    12500000          201.05%

In [40]:
#9
merged_df = pd.merge(batting_2, player, on = 'player_id')
full_merge = pd.merge(merged_df, hall_of_fame, on = 'player_id')
filtered_df = full_merge[(full_merge['year']>1950) & (full_merge['inducted']=='Y')].groupby(['player_id', 'full_name'])['h'].sum().reset_index()
result_df = filtered_df.sort_values(by='h', ascending=False).head(25).reset_index(drop=True)
result_df

    player_id         full_name       h
0   aaronha01        Hank Aaron  3771.0
1   yastrca01  Carl Yastrzemski  3419.0
2   molitpa01      Paul Molitor  3309.0
3    mayswi01       Willie Mays  3274.0
4   murraed02      Eddie Murray  3253.0
5   ripkeca01        Cal Ripken  3179.0
6   brettge01      George Brett  3149.0
7   yountro01       Robin Yount  3142.0
8   gwynnto01        Tony Gwynn  3141.0
9   winfida01     Dave Winfield  3110.0
10  biggicr01      Craig Biggio  3060.0
11  henderi01  Rickey Henderson  3034.0
12  boggswa01        Wade Boggs  3010.0
13  kalinal01         Al Kaline  3007.0
14  clemero01  Roberto Clemente  3000.0
15  brocklo01         Lou Brock  2956.0
16  robinfr02    Frank Robinson  2943.0
17  carewro01         Rod Carew  2883.0
18  robinbr01   Brooks Robinson  2846.0
19  griffke02       Ken Griffey  2763.0
20  dawsoan01      Andre Dawson  2754.0
21  perezto01        Tony Perez  2730.0
22  alomaro01    Roberto Alomar  2724.0
23  willibi01    Billy Williams  2706.0
24  jacksre01    Reggie Jackson  2584.0

In [14]:
#10
merged_df = pd.merge(salary, fielding, on = 'player_id')
full_merge = pd.merge(merged_df, player, on = 'player_id')
grouped_df = full_merge.groupby(['player_id', 'full_name', 'pos'])['salary'].max().reset_index()
result_df = grouped_df.sort_values(by='salary', ascending=False).head(50)
result_df

       player_id         full_name pos    salary
10621  rodrial01    Alex Rodriguez  SS  33000000
10620  rodrial01    Alex Rodriguez  DH  33000000
10619  rodrial01    Alex Rodriguez  3B  33000000
10618  rodrial01    Alex Rodriguez  1B  33000000
6610   kershcl01   Clayton Kershaw   P  32571000
12752  verlaju01  Justin Verlander   P  28000000
13064  wellsve01      Vernon Wells  2B  26187500
13066  wellsve01      Vernon Wells  CF  26187500
13068  wellsve01      Vernon Wells  OF  26187500
13067  wellsve01      Vernon Wells  LF  26187500
13065  wellsve01      Vernon Wells  3B  26187500
13069  wellsve01      Vernon Wells  RF  26187500
13063  wellsve01      Vernon Wells  1B  26187500
4793   greinza01      Zack Greinke   P  26000000
7088     leecl02         Cliff Lee   P  25000000
5757   howarry01       Ryan Howard  1B  25000000
5462   hernafe02   Felix Hernandez   P  24857000
10918  sabatcc01       CC Sabathia   P  24285714
1971    canoro01     Robinson Cano  2B  24000000
1972    canoro01     Robinson Cano  SS  24000000
10073  pujolal01     Albert Pujols  SS  24000000
10072  pujolal01     Albert Pujols  RF  24000000
10071  pujolal01     Albert Pujols  OF  24000000
10070  pujolal01     Albert Pujols  LF  24000000
10069  pujolal01     Albert Pujols  3B  24000000
10068  pujolal01     Albert Pujols  2B  24000000
10067  pujolal01     Albert Pujols  1B  24000000
3819   fieldpr01    Prince Fielder  1B  24000000
10198  ramirma02     Manny Ramirez  DH  23854494
10199  ramirma02     Manny Ramirez  LF  23854494
10200  ramirma02     Manny Ramirez  OF  23854494
10201  ramirma02     Manny Ramirez  RF  23854494
5087   hamelco01       Cole Hamels   P  23500000
4368   giambja01      Jason Giambi  1B  23428571
4369   giambja01      Jason Giambi  3B  23428571
4370   giambja01      Jason Giambi  DH  23428571
4371   giambja01      Jason Giambi  LF  23428571
4372   giambja01      Jason Giambi  OF  23428571
4373   giambja01      Jason Giambi  RF  23428571
11086  santajo01     Johan Santana   P  23145011
12177  teixema01     Mark Teixeira  OF  23125000
12174  teixema01     Mark Teixeira  1B  23125000
12175  teixema01     Mark Teixeira  3B  23125000
12176  teixema01     Mark Teixeira  LF  23125000
12178  teixema01     Mark Teixeira  RF  23125000
7930   mauerjo01         Joe Mauer  OF  23000000
7929   mauerjo01         Joe Mauer   C  23000000
7928   mauerjo01         Joe Mauer  1B  23000000
7931   mauerjo01         Joe Mauer  RF  23000000
5104   hamiljo03     Josh Hamilton  RF  22708749

In [41]:
#11
merged_df = pd.merge(salary, fielding, on = 'player_id')
filtered_df = merged_df[merged_df['year_y']>=2000].groupby('pos')['salary'].mean().reset_index()
ordered_df = filtered_df.sort_values(by='salary', ascending=False).reset_index(drop=True)
ordered_df

  pos        salary
0  1B  3.517212e+06
1  OF  3.421048e+06
2  CF  3.279103e+06
3  RF  3.093472e+06
4   P  2.903943e+06
5  LF  2.867335e+06
6  3B  2.815175e+06
7  SS  2.807452e+06
8  2B  2.300095e+06
9   C  2.179792e+06

In [17]:
#12 
merged_df = pd.merge(player, salary, on = 'player_id')
full_merge = pd.merge(merged_df, fielding, on = 'player_id')
avg_salary = salary[salary['year']==2015].salary.mean()
avg_salary
filtered_df = full_merge[(full_merge['salary']>avg_salary) & (full_merge['year_x']==2015) & (full_merge['pos']=='P')]
grouped_df = filtered_df.groupby('full_name').salary.max().reset_index()
result_df = grouped_df.sort_values(by='salary', ascending=False).head(25).reset_index(drop=True)
result_df

            full_name    salary
0     Clayton Kershaw  32571000
1    Justin Verlander  28000000
2        Zack Greinke  25000000
3     Felix Hernandez  24857000
4         Cole Hamels  23500000
5         CC Sabathia  23000000
6     Masahiro Tanaka  22000000
7           Matt Cain  21000000
8          Jon Lester  20000000
9        Mark Buehrle  20000000
10        David Price  19750000
11    Adam Wainwright  19500000
12       Tim Lincecum  18000000
13       Jered Weaver  18000000
14       C. J. Wilson  18000000
15       Max Scherzer  17142000
16     Anibal Sanchez  16800000
17  Jordan Zimmermann  16500000
18         John Danks  15750000
19       Nick Swisher  15000000
20    Yovani Gallardo  14000000
21      Ervin Santana  13500000
22       Scott Kazmir  13000000
23  Jonathan Papelbon  13000000
24      Edwin Jackson  13000000

In [18]:
#13
team['decade'] = (team.year // 10) * 10
team['avg_so_per_game'] = (team.so / team.g).round(2)
grouped_df = team.groupby('decade').avg_so_per_game.mean().reset_index()
result_df = grouped_df.sort_values(by='decade', ascending=False).reset_index(drop=True)
result_df

    decade  avg_so_per_game
0     2010         7.435889
1     2000         6.561033
2     1990         6.150827
3     1980         5.342615
4     1970         5.144959
5     1960         5.712727
6     1950         4.399437
7     1940         3.550000
8     1930         3.316375
9     1920         2.814437
10    1910         3.609671
11    1900         3.197857
12    1890         2.657971
13    1880         3.718805
14    1870         1.027051

In [19]:
#14
team['decade'] = (team.year // 10) * 10
team['avg_hr_per_game'] = (team.hr / team.g).round(3)
grouped_df = team.groupby('decade').avg_hr_per_game.mean().reset_index()
result_df = grouped_df.sort_values(by='decade', ascending=False).reset_index(drop=True)
result_df

    decade  avg_hr_per_game
0     2010         0.955328
1     2000         1.073370
2     1990         0.960288
3     1980         0.804019
4     1970         0.745614
5     1960         0.820222
6     1950         0.843019
7     1940         0.523094
8     1930         0.545725
9     1920         0.401719
10    1910         0.169602
11    1900         0.138461
12    1890         0.253072
13    1880         0.202358
14    1870         0.086295

In [20]:
#15
team['winning_percentage'] = ((team.w / team.g)*100).round(2)
filtered_df = team[(team['ws_win']== 'N') & (team['year']>=2000)]
grouped_df = filtered_df.groupby(['name', 'g', 'w', 'winning_percentage', 'year']).first().reset_index()
ordered_df = grouped_df.sort_values(by='winning_percentage', ascending=False).head(5).reset_index(drop=True)
result_df = ordered_df[['name', 'g', 'w', 'winning_percentage', 'year']]
result_df

                    name    g    w  winning_percentage  year
0       Seattle Mariners  162  116               71.60  2001
1    St. Louis Cardinals  162  105               64.81  2004
2       New York Yankees  161  103               63.98  2002
3      Oakland Athletics  162  103               63.58  2002
4  Philadelphia Phillies  162  102               62.96  2011

In [70]:
#16
filtered_df = team[(team['ws_win']== 'Y') & (team['year']>=2000)]
filtered_df['winning_percentage'] = ((team.w / team.g)*100).round(2)
grouped_df = filtered_df.groupby(['name', 'g', 'w', 'year']).first().reset_index()
ordered_df = grouped_df.sort_values(by='winning_percentage', ascending=True).head(5).reset_index(drop=True)
ordered_df = ordered_df[['name', 'g', 'w', 'winning_percentage', 'year']]
ordered_df

C:\Users\andre\AppData\Local\Temp\ipykernel_3164\407752792.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['winning_percentage'] = ((team.w / team.g)*100).round(2)

                    name      g     w  winning_percentage  year
14   St. Louis Cardinals  161.0  83.0               51.55  2006
8       New York Yankees  161.0  87.0               54.04  2000
11  San Francisco Giants  162.0  88.0               54.32  2014
15   St. Louis Cardinals  162.0  90.0               55.56  2011
6        Florida Marlins  162.0  91.0               56.17  2003

In [21]:
#17
salary['decade'] = (salary.year // 10) * 10
grouped_df = salary.groupby('decade').salary.mean().round().reset_index()
result_df = grouped_df.sort_values(by='decade', ascending=False).reset_index(drop=True)
result_df

   decade     salary
0    2010  3671903.0
1    2000  2653542.0
2    1990  1058647.0
3    1980   456930.0

In [16]:
#18 No entiendo el peo en categorize
avg_salaries_per_team = salary[salary['year'] == 2015].groupby('team_id')['salary'].mean().reset_index()
avg_salaries_per_team = avg_salaries_per_team['salary']

p10 = avg_salaries_per_team['salary'].quantile(0.1)
p25 = avg_salaries_per_team['salary'].quantile(0.25)
p75 = avg_salaries_per_team['salary'].quantile(0.75)
p90 = avg_salaries_per_team['salary'].quantile(0.9)


# Step 2: Categorize teams based on average salary
def categorize_salary(avg_salary):
    if avg_salary > p90:
        return 'Very High Salaries'
    elif avg_salary < p10:
        return 'Very Low Salaries'
    elif avg_salary > p75:
        return 'High Salaries'
    elif avg_salary < p25:
        return 'Low Salaries'
    else:
        return 'Medium Salaries'


avg_salaries_per_team['Compensation'] = avg_salaries_per_team['salary'].apply(categorize_salary)

# Display the resulting DataFrame
result_df = avg_salaries_per_team[['team_id', 'salary', 'Compensation']].sort_values(by='salary', ascending=False)
print(result_df)

KeyError: 'salary'

In [62]:
#19 puro gpt la segunda parte del code

merged_data = pd.merge(salary, team, on='team_id')
filtered_data = merged_data[merged_data['year_y'] == 2015]
grouped_data = filtered_data.groupby(['name', 'w'])['salary'].sum().reset_index()
grouped_data['salary_rank'] = grouped_data['salary'].rank(ascending=False, method='min')
grouped_data['win_rank'] = grouped_data['w'].rank(ascending=False, method='min')

grouped_data['Spending'] = grouped_data.apply(lambda row: 'Effective' if row['salary_rank'] >= 15 and row['win_rank'] <= 15 else '', axis=1)
result = grouped_data[['name', 'salary_rank', 'win_rank', 'Spending']]
result = result.sort_values(by='salary_rank')
result.reset_index(drop=True, inplace=True)
print(result.to_string(index=False))

                         name  salary_rank  win_rank  Spending
             New York Yankees          1.0       9.0
               Boston Red Sox          2.0      19.0
          Los Angeles Dodgers          3.0       6.0
                New York Mets          4.0       7.0
        Philadelphia Phillies          5.0      30.0
         San Francisco Giants          6.0      12.0
                 Chicago Cubs          7.0       3.0
               Atlanta Braves          8.0      28.0
               Detroit Tigers          9.0      22.0
          St. Louis Cardinals         10.0       1.0
                Texas Rangers         11.0       8.0
            Chicago White Sox         12.0      20.0
             Seattle Mariners         13.0      20.0
            Baltimore Orioles         14.0      15.0
            Toronto Blue Jays         15.0       5.0 Effective
              Cincinnati Reds         16.0      29.0
            Cleveland Indians         17.0      15.0 Effective
               Houston Astros         18.0      10.0 Effective
             Colorado Rockies         19.0      25.0
              Minnesota Twins         20.0      13.0 Effective
Los Angeles Angels of Anaheim         21.0      11.0 Effective
             San Diego Padres         22.0      22.0
           Kansas City Royals         23.0       4.0 Effective
         Arizona Diamondbacks         24.0      18.0
            Oakland Athletics         25.0      25.0
            Milwaukee Brewers         26.0      25.0
           Pittsburgh Pirates         27.0       2.0 Effective
         Washington Nationals         28.0      13.0 Effective
               Tampa Bay Rays         29.0      17.0
                Miami Marlins         30.0      24.0