In [ ]:
import pandas as pd


batting = pd.read_csv("../DATA/batting.csv")
fielding = pd.read_csv("../DATA/fielding.csv")
hall_of_fame = pd.read_csv("../DATA/hall_of_fame.csv")
player_award = pd.read_csv("../DATA/player_award.csv")
player = pd.read_csv("../DATA/player.csv")
salary = pd.read_csv("../DATA/salary.csv")
team = pd.read_csv("../DATA/team.csv")

table_files = [batting, fielding, hall_of_fame, player_award, player, salary, team]
for file in table_files:
    print(file.head(5))

In [ ]:
#1.short
best_hitters = batting[batting['hr'].notnull()].groupby('player_id').hr.sum().reset_index().sort_values(by= 'hr', ascending=False).head(25)
best_hitters

In [ ]:
#1.long
filtered_df = filtered_df[filtered_df['hr'].notnull()]
grouped_df = filtered_df.groupby('player_id').hr.sum().reset_index()
ordered_df = grouped_df.sort_values(by = 'hr', ascending = False).head(25)
ordered_df

In [ ]:
#2.short
merged_df = pd.merge(batting, player, on = 'player_id')
filtered_df = merged_df[merged_df['team_id']=='BOS'].groupby(['player_id', 'name_first', 'name_last']).hr.sum().reset_index()
filtered_df['full_name'] = filtered_df['name_first'] + ' ' + filtered_df['name_last']
filtered_df = filtered_df[['player_id', 'full_name', 'hr']]
ordered_df = filtered_df.sort_values(by='hr', ascending=False).head(10)
ordered_df

In [ ]:
#2.long
merged_df = pd.merge(batting, player, on = 'player_id')
filtered_df = merged_df[merged_df['team_id'] == 'BOS']
grouped_df = filtered_df.groupby(['player_id', 'name_first', 'name_last']).hr.sum().reset_index()
grouped_df['full_name'] = grouped_df['name_first'] + ' ' + grouped_df['name_last']
grouped_df = grouped_df[['player_id', 'full_name', 'hr']]
ordered_df = grouped_df.sort_values(by='hr', ascending=False).head(10)
ordered_df

In [135]:
#4
merged_df = pd.merge(batting, player, on = 'player_id')
filtered_df = merged_df[(merged_df['ab'] >= 100) & (merged_df['year']==2000)]
grouped_df = filtered_df.groupby(['player_id', 'name_first', 'name_last'])[['ab','hr']].sum().reset_index()
grouped_df['Homeruns_per_ab'] = round(grouped_df['hr'] / grouped_df['ab'],3)
ordered_df = grouped_df.sort_values(by='Homeruns_per_ab', ascending=False).head(50)
ordered_df

     player_id name_first   name_last     ab    hr  Homeruns_per_ab
275  mcgwima01       Mark     McGwire  236.0  32.0            0.136
44   bondsba01      Barry       Bonds  480.0  49.0            0.102
191   hillgl01  Glenallen        Hill  300.0  27.0            0.090
333  ramirma02      Manny     Ramirez  439.0  38.0            0.087
362  sheffga01       Gary   Sheffield  501.0  43.0            0.086
142  giambja01      Jason      Giambi  510.0  43.0            0.084
370   sosasa01      Sammy        Sosa  604.0  50.0            0.083
148  glaustr01       Troy       Glaus  563.0  47.0            0.083
51   branyru01    Russell     Branyan  193.0  16.0            0.083
197  hundlto01       Todd     Hundley  299.0  24.0            0.080
116  edmonji01        Jim     Edmonds  525.0  42.0            0.080
18   bagweje01       Jeff     Bagwell  590.0  47.0            0.080
189  hidalri01    Richard     Hidalgo  558.0  44.0            0.079
323  piazzmi01       Mike      Piazza  482.0  38.0            0.079
221  justida01      David     Justice  524.0  41.0            0.078
163  griffke02        Ken     Griffey  520.0  40.0            0.077
166  guerrvl01   Vladimir    Guerrero  571.0  44.0            0.077
409   wardda01     Daryle        Ward  264.0  20.0            0.076
211  johnsch04    Charles     Johnson  421.0  31.0            0.074
347  rodriiv01       Ivan   Rodriguez  363.0  27.0            0.074
345  rodrial01       Alex   Rodriguez  554.0  41.0            0.074
387  thomafr04      Frank      Thomas  582.0  43.0            0.074
13   andresh01      Shane     Andrews  192.0  14.0            0.073
183  heltoto01       Todd      Helton  580.0  42.0            0.072
66   caminke01        Ken    Caminiti  208.0  15.0            0.072
104  delgaca01     Carlos     Delgado  569.0  41.0            0.072
57   buhneja01        Jay      Buhner  364.0  26.0            0.071
315  palmera01     Rafael    Palmeiro  565.0  39.0            0.069
122  evereca01       Carl     Everett  496.0  34.0            0.069
234  lampkto01        Tom     Lampkin  103.0   7.0            0.068
262  martied01      Edgar    Martinez  556.0  37.0            0.067
235  lankfra01        Ray    Lankford  392.0  26.0            0.066
23   batisto01       Tony     Batista  620.0  41.0            0.066
9     aloumo01     Moises        Alou  454.0  30.0            0.066
137  fullmbr01       Brad     Fullmer  482.0  32.0            0.066
207  jenkige01      Geoff     Jenkins  512.0  34.0            0.066
178  hanseda01       Dave      Hansen  121.0   8.0            0.066
388  thomeji01        Jim       Thome  557.0  37.0            0.066
341  richach01      Chris     Richard  199.0  13.0            0.065
127  finlest01      Steve      Finley  539.0  35.0            0.065
117  elsteke01      Kevin      Elster  220.0  14.0            0.064
145  gilesbr02      Brian       Giles  559.0  35.0            0.063
194  houstty01      Tyler     Houston  284.0  18.0            0.063
358  seguife01   Fernando   Seguignol  162.0  10.0            0.062
287  mondera01       Raul     Mondesi  388.0  24.0            0.062
81   clarkto02       Tony       Clark  208.0  13.0            0.062
215  jonesch06    Chipper       Jones  579.0  36.0            0.062
394  vandejo02       John  Vander Wal  384.0  24.0            0.062
58   burksel01      Ellis       Burks  393.0  24.0            0.061
396  vaughgr01       Greg      Vaughn  461.0  28.0            0.061

In [159]:
#5
league_avg = batting[batting['ab']>=100]
league_avg = league_avg.h.sum() / league_avg.ab.sum()
league_avg

merged_df = pd.merge(batting, player, on='player_id')
filtered_df = merged_df[(merged_df['ab']>=200) & (merged_df['team_id']=='NYA')]
grouped_df = filtered_df.groupby(['player_id', 'name_first'])[['h','ab']].sum().reset_index()
grouped_df['batting_avg'] = round(grouped_df['h'] / grouped_df['ab'],3)
grouped_df['batting_performance'] = grouped_df['batting_avg'].apply(lambda x: 'Above_avg' if x > league_avg else 'Below_avg')
ordered_df = grouped_df.sort_values(by='batting_avg', ascending=False).head(25)
ordered_df

     player_id name_first       h       ab  batting_avg batting_performance
252   ruthba01       Babe  2518.0   7216.0        0.349           Above_avg
98   gehrilo01        Lou  2700.0   7935.0        0.340           Above_avg
76   duncama01    Mariano   136.0    400.0        0.340           Above_avg
72   dimagjo01        Joe  2214.0   6821.0        0.325           Above_avg
54   combsea01      Earle  1852.0   5711.0        0.324           Above_avg
223  paschbe01        Ben   163.0    505.0        0.323           Above_avg
137  jamesdi01       Dion   174.0    552.0        0.315           Above_avg
71   dickebi01       Bill  1931.0   6151.0        0.314           Above_avg
26   boggswa01       Wade   702.0   2240.0        0.313           Above_avg
195  meusebo01        Bob  1565.0   5032.0        0.311           Above_avg
138  jeterde01      Derek  3441.0  11084.0        0.310           Above_avg
37    canoro01   Robinson  1649.0   5336.0        0.309           Above_avg
183  mattido01        Don  2151.0   6991.0        0.308           Above_avg
310  watsobo01        Bob   144.0    469.0        0.307           Above_avg
274   sojolu01       Luis    66.0    215.0        0.307           Above_avg
44   chapmbe01        Ben  1042.0   3400.0        0.306           Above_avg
170  maddoel01    Elliott   208.0    684.0        0.304           Above_avg
228  pinielo01        Lou   819.0   2699.0        0.303           Above_avg
258  schanwa01      Wally   443.0   1460.0        0.303           Above_avg
219  oneilpa01       Paul  1426.0   4700.0        0.303           Above_avg
322   wittwh01     Whitey   522.0   1724.0        0.303           Above_avg
24   blombro01        Ron   261.0    864.0        0.302           Above_avg
79   easlemi01       Mike   148.0    490.0        0.302           Above_avg
240  rivermi01     Mickey   598.0   2000.0        0.299           Above_avg
234  raineti01        Tim   237.0    793.0        0.299           Above_avg

In [172]:
#6
filtered_df = team[team['year']>=2000].groupby('name')[['attendance', 'g']].sum().reset_index()
filtered_df['avg_attendance_per_game'] = round(filtered_df['attendance'] / filtered_df['g'])
result_df = filtered_df.sort_values(by='avg_attendance_per_game', ascending=False)
result_df

                             name  attendance     g  avg_attendance_per_game
21               New York Yankees  58491801.0  2590                  22584.0
15            Los Angeles Dodgers  55479368.0  2591                  21412.0
28            St. Louis Cardinals  52779669.0  2591                  20370.0
26           San Francisco Giants  51539703.0  2590                  19899.0
14  Los Angeles Angels of Anaheim  35361353.0  1782                  19844.0
5                    Chicago Cubs  47557886.0  2590                  18362.0
4                  Boston Red Sox  46097292.0  2591                  17791.0
23          Philadelphia Phillies  44183070.0  2591                  17053.0
20                  New York Mets  44026638.0  2590                  16999.0
9                Colorado Rockies  41978667.0  2593                  16189.0
31                  Texas Rangers  41050712.0  2593                  15831.0
0                  Anaheim Angels  12810219.0   810                  15815.0
27               Seattle Mariners  40344500.0  2592                  15565.0
2                  Atlanta Braves  40320936.0  2591                  15562.0
17              Milwaukee Brewers  40188606.0  2592                  15505.0
12                 Houston Astros  39731913.0  2592                  15329.0
10                 Detroit Tigers  39444074.0  2591                  15223.0
1            Arizona Diamondbacks  37946488.0  2592                  14640.0
25               San Diego Padres  37885083.0  2593                  14611.0
3               Baltimore Orioles  37766746.0  2592                  14571.0
33           Washington Nationals  24957479.0  1780                  14021.0
18                Minnesota Twins  36016389.0  2593                  13890.0
7                 Cincinnati Reds  34950170.0  2594                  13473.0
6               Chicago White Sox  33366890.0  2593                  12868.0
32              Toronto Blue Jays  33162614.0  2591                  12799.0
8               Cleveland Indians  32255283.0  2591                  12449.0
24             Pittsburgh Pirates  30674181.0  2589                  11848.0
22              Oakland Athletics  29561870.0  2590                  11414.0
16                  Miami Marlins   7290284.0   648                  11250.0
13             Kansas City Royals  27098544.0  2592                  10455.0
30                 Tampa Bay Rays  12863080.0  1297                   9918.0
11                Florida Marlins  16518116.0  1942                   8506.0
29           Tampa Bay Devil Rays  10045608.0  1293                   7769.0
19                 Montreal Expos   4156251.0   810                   5131.0

In [175]:
#7
merged_df = pd.merge(player, player_award, on = 'player_id')
filtered_df = merged_df[merged_df['award_id']=='Pitching Triple Crown']
grouped_df = filtered_df.groupby(['player_id', 'name_first']).award_id.count().reset_index().sort_values(by='award_id', ascending=False).head(10)
grouped_df

    player_id name_first  award_id
0   alexape01       Pete         3
11  johnswa01     Walter         3
14  koufasa01      Sandy         3
6   gomezle01      Lefty         2
8   grovele01      Lefty         2
4   clemero02      Roger         2
16  mathech01    Christy         2
3   clarkjo01       John         1
18  peavyja01       Jake         1
26  waltebu01      Bucky         1

In [220]:
#11- por alguna razon me da error en year
merged_df = pd.merge(salary, fielding, on = 'player_id')
filtered_df = merged_df[merged_df['year']>=2000].groupby('pos')['salary'].mean().reset_index()
ordered_df = filtered_df.sort_values(by='salary', ascending=False)
ordered_df

KeyError: 'year'

In [219]:
#13
team['decade'] = (team.year // 10) * 10
team['avg_so_per_game'] = (team.so / team.g).round(2)
grouped_df = team.groupby('decade').avg_so_per_game.mean().reset_index()
ordered_df = grouped_df.sort_values(by='decade', ascending=False)
ordered_df

    decade  avg_so_per_game
14    2010         7.435889
13    2000         6.561033
12    1990         6.150827
11    1980         5.342615
10    1970         5.144959
9     1960         5.712727
8     1950         4.399437
7     1940         3.550000
6     1930         3.316375
5     1920         2.814437
4     1910         3.609671
3     1900         3.197857
2     1890         2.657971
1     1880         3.718805
0     1870         1.027051

In [221]:
#14
team['decade'] = (team.year // 10) * 10
team['avg_hr_per_game'] = (team.hr / team.g).round(3)
grouped_df = team.groupby('decade').avg_hr_per_game.mean().reset_index()
ordered_df = grouped_df.sort_values(by='decade', ascending=False)
ordered_df

    decade  avg_hr_per_game
14    2010         0.955328
13    2000         1.073370
12    1990         0.960288
11    1980         0.804019
10    1970         0.745614
9     1960         0.820222
8     1950         0.843019
7     1940         0.523094
6     1930         0.545725
5     1920         0.401719
4     1910         0.169602
3     1900         0.138461
2     1890         0.253072
1     1880         0.202358
0     1870         0.086295

In [240]:
#15
team['winning_percentage'] = ((team.w / team.g)*100).round(2)
filtered_df = team[(team['ws_win']== 'N') & (team['year']>=2000)]
grouped_df = filtered_df.groupby(['name', 'g', 'w', 'winning_percentage', 'year']).first().reset_index()
ordered_df = grouped_df.sort_values(by='winning_percentage', ascending=False).head(5)
ordered_df = ordered_df[['name', 'g', 'w', 'winning_percentage', 'year']]
ordered_df

                      name    g    w  winning_percentage  year
390       Seattle Mariners  162  116               71.60  2001
404    St. Louis Cardinals  162  105               64.81  2004
286       New York Yankees  161  103               63.98  2002
314      Oakland Athletics  162  103               63.58  2002
329  Philadelphia Phillies  162  102               62.96  2011

In [236]:
#16

KeyError: "None of [Index(['winning_percentage', 'g', 'w', 'year'], dtype='object')] are in the [columns]"